In [42]:
import numpy as np
import pandas as pd

In [43]:
path1 = 'C:\\Users\\ADMIN\\Desktop\\my project\\concat\\1.xlsx'
path2 = 'C:\\Users\\ADMIN\\Desktop\\my project\\concat\\2.xlsx'

In [44]:
data1 = pd.read_excel(path1, header=3)
data2 = pd.read_excel(path2)
data1

                                     Country Name      2021     2021.1
0                                           Aruba  0.401008        NaN
1                     Africa Eastern and Southern  2.572461   4.303667
2                                     Afghanistan  2.303412        NaN
3                      Africa Western and Central  2.636291   3.914799
4                                          Angola  3.195916   0.700000
..                                            ...       ...        ...
131                                       Liberia  2.393792   4.000010
132                                         Libya  1.261797  31.372422
133                                     St. Lucia  0.419532   6.599327
134                     Latin America & Caribbean  0.877415   6.752375
135  Least developed countries: UN classification  2.305655   2.296664

[136 rows x 3 columns]

In [45]:
data1.rename(index=data1['Country Name'], inplace=True)
data1.drop(['Country Name'], axis=1, inplace=True)
data1.rename(columns={'2021': 'pop_grow', '2021.1': 'gdp_grow'}, inplace=True)
data1

                                              pop_grow   gdp_grow
Aruba                                         0.401008        NaN
Africa Eastern and Southern                   2.572461   4.303667
Afghanistan                                   2.303412        NaN
Africa Western and Central                    2.636291   3.914799
Angola                                        3.195916   0.700000
...                                                ...        ...
Liberia                                       2.393792   4.000010
Libya                                         1.261797  31.372422
St. Lucia                                     0.419532   6.599327
Latin America & Caribbean                     0.877415   6.752375
Least developed countries: UN classification  2.305655   2.296664

[136 rows x 2 columns]

In [46]:
data2

                    name  pop growth  gdp growth
0             Low income    2.691016    3.013900
1          Liechtenstein    0.306319         NaN
2              Sri Lanka    1.075450    3.655632
3    Lower middle income    1.341333    5.591395
4    Low & middle income    1.104564    6.892505
..                   ...         ...         ...
125               Kosovo    0.897901    9.127578
126          Yemen, Rep.    2.204030   -2.061513
127         South Africa    1.228841    4.914603
128               Zambia    2.877596    3.572815
129             Zimbabwe    1.530614    5.849420

[130 rows x 3 columns]

In [47]:
data2.rename(index=data2['name'], inplace=True)
data2.drop(['name'], axis=1, inplace=True)
data2

                     pop growth  gdp growth
Low income             2.691016    3.013900
Liechtenstein          0.306319         NaN
Sri Lanka              1.075450    3.655632
Lower middle income    1.341333    5.591395
Low & middle income    1.104564    6.892505
...                         ...         ...
Kosovo                 0.897901    9.127578
Yemen, Rep.            2.204030   -2.061513
South Africa           1.228841    4.914603
Zambia                 2.877596    3.572815
Zimbabwe               1.530614    5.849420

[130 rows x 2 columns]

In [48]:
data1.rename(columns={'pop_grow': 'pop growth', 'gdp_grow': 'gdp growth'}, inplace=True)
data1

                                              pop growth  gdp growth
Aruba                                           0.401008         NaN
Africa Eastern and Southern                     2.572461    4.303667
Afghanistan                                     2.303412         NaN
Africa Western and Central                      2.636291    3.914799
Angola                                          3.195916    0.700000
...                                                  ...         ...
Liberia                                         2.393792    4.000010
Libya                                           1.261797   31.372422
St. Lucia                                       0.419532    6.599327
Latin America & Caribbean                       0.877415    6.752375
Least developed countries: UN classification    2.305655    2.296664

[136 rows x 2 columns]

In [49]:
concat = pd.concat([data1, data2], axis=0)
concat

                             pop growth  gdp growth
Aruba                          0.401008         NaN
Africa Eastern and Southern    2.572461    4.303667
Afghanistan                    2.303412         NaN
Africa Western and Central     2.636291    3.914799
Angola                         3.195916    0.700000
...                                 ...         ...
Kosovo                         0.897901    9.127578
Yemen, Rep.                    2.204030   -2.061513
South Africa                   1.228841    4.914603
Zambia                         2.877596    3.572815
Zimbabwe                       1.530614    5.849420

[266 rows x 2 columns]

data.values_count()
data.groupby(data[column])