In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing as pr

In [2]:
path = 'C:\\Users\\ADMIN\\Desktop\\my project\\pop_area.xlsx'
data = pd.read_excel(path, header=3)
data

                    Country Name Country Code         2021          2018
0                          Aruba          ABW     107195.0  1.800000e+02
1    Africa Eastern and Southern          AFE  694665117.0  1.512116e+07
2                    Afghanistan          AFG   39835428.0  6.528600e+05
3     Africa Western and Central          AFW  470898870.0  9.166270e+06
4                         Angola          AGO   33933611.0  1.246700e+06
..                           ...          ...          ...           ...
261                       Kosovo          XKX    1806279.0           NaN
262                  Yemen, Rep.          YEM   30490639.0  5.279700e+05
263                 South Africa          ZAF   60041996.0  1.219090e+06
264                       Zambia          ZMB   18920657.0  7.526100e+05
265                     Zimbabwe          ZWE   15092171.0  3.907600e+05

[266 rows x 4 columns]

In [3]:
data.drop(['Country Code'], axis=1, inplace=True)
data

                    Country Name         2021          2018
0                          Aruba     107195.0  1.800000e+02
1    Africa Eastern and Southern  694665117.0  1.512116e+07
2                    Afghanistan   39835428.0  6.528600e+05
3     Africa Western and Central  470898870.0  9.166270e+06
4                         Angola   33933611.0  1.246700e+06
..                           ...          ...           ...
261                       Kosovo    1806279.0           NaN
262                  Yemen, Rep.   30490639.0  5.279700e+05
263                 South Africa   60041996.0  1.219090e+06
264                       Zambia   18920657.0  7.526100e+05
265                     Zimbabwe   15092171.0  3.907600e+05

[266 rows x 3 columns]

In [4]:
data.rename(index=data['Country Name'], inplace=True)
data

,Country Name,2021,2018
Aruba,Aruba,107195.0,1.800000e+02
Africa Eastern and Southern,Africa Eastern and Southern,694665117.0,1.512116e+07
Afghanistan,Afghanistan,39835428.0,6.528600e+05
Africa Western and Central,Africa Western and Central,470898870.0,9.166270e+06
Angola,Angola,33933611.0,1.246700e+06
...,...,...,...
Kosovo,Kosovo,1806279.0,NaN
"Yemen, Rep.","Yemen, Rep.",30490639.0,5.279700e+05
South Africa,South Africa,60041996.0,1.219090e+06
Zambia,Zambia,18920657.0,7.526100e+05
Zimbabwe,Zimbabwe,15092171.0,3.907600e+05

In [5]:
data.drop(['Country Name'], axis=1, inplace=True)
data

                                    2021          2018
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0           NaN
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[266 rows x 2 columns]

In [6]:
data.rename(columns={'2021': 'population', '2018': 'area'}, inplace=True)
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0           NaN
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[266 rows x 2 columns]

In [8]:
data.population.mean()

321089333.8787879

In [13]:
data.area.replace(np.nan, 0, inplace=True)
data.population.replace(np.nan, data.population.mean(), inplace=True)
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0  0.000000e+00
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[266 rows x 2 columns]

In [14]:
mask = data.population == data.population.mean()
data.population[mask]

Eritrea           3.210893e+08
Not classified    3.210893e+08
Name: population, dtype: float64

In [15]:
data.drop(['Not classified'], axis=0, inplace=True)
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0  0.000000e+00
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[265 rows x 2 columns]

data.fillna(method='ffill'))