In [393]:
import numpy as np
import pandas as pd
from sklearn import preprocessing as pr

In [394]:
path = 'C:\\Users\\ADMIN\\Desktop\\my project\\بورس.xlsx'
data = pd.read_excel(path)
data

,year,infaltion,gdp growth,low,high,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1371,24.4,3.3,410.0,488.0,NaN,NaN,NaN,NaN
1,1372,22.9,-1.5,378.0,447.0,NaN,NaN,NaN,NaN
2,1373,35.2,-1.7,427.0,929.0,NaN,NaN,NaN,NaN
3,1374,49.4,2.4,878.0,2108.0,NaN,NaN,NaN,NaN
4,1375,23.2,6.4,1673.0,2161.0,NaN,NaN,NaN,NaN
5,1376,17.3,1.4,1466.0,1680.0,NaN,NaN,NaN,NaN
6,1377,18.1,2.1,1517.0,1766.0,NaN,NaN,NaN,NaN
7,1378,20.1,2.0,1765.0,2565.0,NaN,NaN,NaN,NaN
8,1379,12.6,5.8,2565.0,3493.0,NaN,NaN,NaN,NaN
9,1380,11.4,2.4,3194.0,4831.0,NaN,NaN,NaN,NaN
10,1381,15.8,8.1,4445.0,9592.0,NaN,NaN,NaN,NaN
11,1382,15.6,8.6,8742.0,13895.0,NaN,NaN,NaN,NaN
12,1383,15.2,4.3,9801.0,13895.0,NaN,NaN,NaN,NaN
13,1384,10.4,3.2,9016.0,10522.0,NaN,NaN,NaN,NaN
14,1385,11.9,5.0,9016.0,10522.0,NaN,NaN,NaN,NaN
15,1386,18.4,8.2,8742.0,12941.0,NaN,NaN,NaN,NaN
16,1387,25.4,0.3,7969.0,12703.0,NaN,NaN,NaN,NaN
17,1388,10.8,1.0,11159.0,19697.0,NaN,NaN,NaN,NaN
18,1389,12.4,5.8,19697.0,27241.0,NaN,NaN,NaN,NaN
19,1390,21.5,2.6,23780.0,38144.0,NaN,NaN,NaN,NaN
20,1391,30.5,-3.7,36305.0,90012.0,NaN,NaN,NaN,NaN
21,1392,34.7,-1.5,64285.0,81542.0,NaN,NaN,NaN,NaN
22,1393,15.6,5.0,61374.0,71622.0,NaN,NaN,NaN,NaN
23,1394,11.9,-1.4,63888.0,82556.0,NaN,NaN,NaN,NaN
24,1395,9.0,8.8,75717.0,85939.0,NaN,NaN,NaN,NaN
25,1396,9.6,2.8,83840.0,115598.0,NaN,NaN,NaN,NaN
26,1397,31.2,-2.3,115598.0,227289.0,NaN,NaN,NaN,NaN
27,1398,41.2,-1.3,227289.0,564617.0,NaN,NaN,NaN,NaN
28,1399,36.4,1.8,564617.0,2056766.0,NaN,NaN,NaN,NaN
29,1400,40.0,4.4,1097858.0,1595580.0,NaN,NaN,NaN,ُُُ
30,1401,52.0,2.4,1328000.0,1608000.0,NaN,NaN,NaN,NaN
31,1402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [395]:
data = data.drop(['Unnamed: 8', 'Unnamed: 7', 'Unnamed: 6', 'Unnamed: 5'], axis=1)
data

    year  infaltion  gdp growth        low       high
0   1371       24.4         3.3      410.0      488.0
1   1372       22.9        -1.5      378.0      447.0
2   1373       35.2        -1.7      427.0      929.0
3   1374       49.4         2.4      878.0     2108.0
4   1375       23.2         6.4     1673.0     2161.0
5   1376       17.3         1.4     1466.0     1680.0
6   1377       18.1         2.1     1517.0     1766.0
7   1378       20.1         2.0     1765.0     2565.0
8   1379       12.6         5.8     2565.0     3493.0
9   1380       11.4         2.4     3194.0     4831.0
10  1381       15.8         8.1     4445.0     9592.0
11  1382       15.6         8.6     8742.0    13895.0
12  1383       15.2         4.3     9801.0    13895.0
13  1384       10.4         3.2     9016.0    10522.0
14  1385       11.9         5.0     9016.0    10522.0
15  1386       18.4         8.2     8742.0    12941.0
16  1387       25.4         0.3     7969.0    12703.0
17  1388       10.8         1.0    11159.0    19697.0
18  1389       12.4         5.8    19697.0    27241.0
19  1390       21.5         2.6    23780.0    38144.0
20  1391       30.5        -3.7    36305.0    90012.0
21  1392       34.7        -1.5    64285.0    81542.0
22  1393       15.6         5.0    61374.0    71622.0
23  1394       11.9        -1.4    63888.0    82556.0
24  1395        9.0         8.8    75717.0    85939.0
25  1396        9.6         2.8    83840.0   115598.0
26  1397       31.2        -2.3   115598.0   227289.0
27  1398       41.2        -1.3   227289.0   564617.0
28  1399       36.4         1.8   564617.0  2056766.0
29  1400       40.0         4.4  1097858.0  1595580.0
30  1401       52.0         2.4  1328000.0  1608000.0
31  1402        NaN         NaN        NaN        NaN

In [396]:
year = data.year
val = data.values
col = data.columns
val

array([[ 1.371000e+03,  2.440000e+01,  3.300000e+00,  4.100000e+02,
         4.880000e+02],
       [ 1.372000e+03,  2.290000e+01, -1.500000e+00,  3.780000e+02,
         4.470000e+02],
       [ 1.373000e+03,  3.520000e+01, -1.700000e+00,  4.270000e+02,
         9.290000e+02],
       [ 1.374000e+03,  4.940000e+01,  2.400000e+00,  8.780000e+02,
         2.108000e+03],
       [ 1.375000e+03,  2.320000e+01,  6.400000e+00,  1.673000e+03,
         2.161000e+03],
       [ 1.376000e+03,  1.730000e+01,  1.400000e+00,  1.466000e+03,
         1.680000e+03],
       [ 1.377000e+03,  1.810000e+01,  2.100000e+00,  1.517000e+03,
         1.766000e+03],
       [ 1.378000e+03,  2.010000e+01,  2.000000e+00,  1.765000e+03,
         2.565000e+03],
       [ 1.379000e+03,  1.260000e+01,  5.800000e+00,  2.565000e+03,
         3.493000e+03],
       [ 1.380000e+03,  1.140000e+01,  2.400000e+00,  3.194000e+03,
         4.831000e+03],
       [ 1.381000e+03,  1.580000e+01,  8.100000e+00,  4.445000e+03,
         9.592000e+03],
       [ 1.382000e+03,  1.560000e+01,  8.600000e+00,  8.742000e+03,
         1.389500e+04],
       [ 1.383000e+03,  1.520000e+01,  4.300000e+00,  9.801000e+03,
         1.389500e+04],
       [ 1.384000e+03,  1.040000e+01,  3.200000e+00,  9.016000e+03,
         1.052200e+04],
       [ 1.385000e+03,  1.190000e+01,  5.000000e+00,  9.016000e+03,
         1.052200e+04],
       [ 1.386000e+03,  1.840000e+01,  8.200000e+00,  8.742000e+03,
         1.294100e+04],
       [ 1.387000e+03,  2.540000e+01,  3.000000e-01,  7.969000e+03,
         1.270300e+04],
       [ 1.388000e+03,  1.080000e+01,  1.000000e+00,  1.115900e+04,
         1.969700e+04],
       [ 1.389000e+03,  1.240000e+01,  5.800000e+00,  1.969700e+04,
         2.724100e+04],
       [ 1.390000e+03,  2.150000e+01,  2.600000e+00,  2.378000e+04,
         3.814400e+04],
       [ 1.391000e+03,  3.050000e+01, -3.700000e+00,  3.630500e+04,
         9.001200e+04],
       [ 1.392000e+03,  3.470000e+01, -1.500000e+00,  6.428500e+04,
         8.154200e+04],
       [ 1.393000e+03,  1.560000e+01,  5.000000e+00,  6.137400e+04,
         7.162200e+04],
       [ 1.394000e+03,  1.190000e+01, -1.400000e+00,  6.388800e+04,
         8.255600e+04],
       [ 1.395000e+03,  9.000000e+00,  8.800000e+00,  7.571700e+04,
         8.593900e+04],
       [ 1.396000e+03,  9.600000e+00,  2.800000e+00,  8.384000e+04,
         1.155980e+05],
       [ 1.397000e+03,  3.120000e+01, -2.300000e+00,  1.155980e+05,
         2.272890e+05],
       [ 1.398000e+03,  4.120000e+01, -1.300000e+00,  2.272890e+05,
         5.646170e+05],
       [ 1.399000e+03,  3.640000e+01,  1.800000e+00,  5.646170e+05,
         2.056766e+06],
       [ 1.400000e+03,  4.000000e+01,  4.400000e+00,  1.097858e+06,
         1.595580e+06],
       [ 1.401000e+03,  5.200000e+01,  2.400000e+00,  1.328000e+06,
         1.608000e+06],
       [ 1.402000e+03,           nan,           nan,           nan,
                  nan]])

In [397]:
data = pd.DataFrame(val, index=year, columns=col)
data

        year  infaltion  gdp growth        low       high
year
1371  1371.0       24.4         3.3      410.0      488.0
1372  1372.0       22.9        -1.5      378.0      447.0
1373  1373.0       35.2        -1.7      427.0      929.0
1374  1374.0       49.4         2.4      878.0     2108.0
1375  1375.0       23.2         6.4     1673.0     2161.0
1376  1376.0       17.3         1.4     1466.0     1680.0
1377  1377.0       18.1         2.1     1517.0     1766.0
1378  1378.0       20.1         2.0     1765.0     2565.0
1379  1379.0       12.6         5.8     2565.0     3493.0
1380  1380.0       11.4         2.4     3194.0     4831.0
1381  1381.0       15.8         8.1     4445.0     9592.0
1382  1382.0       15.6         8.6     8742.0    13895.0
1383  1383.0       15.2         4.3     9801.0    13895.0
1384  1384.0       10.4         3.2     9016.0    10522.0
1385  1385.0       11.9         5.0     9016.0    10522.0
1386  1386.0       18.4         8.2     8742.0    12941.0
1387  1387.0       25.4         0.3     7969.0    12703.0
1388  1388.0       10.8         1.0    11159.0    19697.0
1389  1389.0       12.4         5.8    19697.0    27241.0
1390  1390.0       21.5         2.6    23780.0    38144.0
1391  1391.0       30.5        -3.7    36305.0    90012.0
1392  1392.0       34.7        -1.5    64285.0    81542.0
1393  1393.0       15.6         5.0    61374.0    71622.0
1394  1394.0       11.9        -1.4    63888.0    82556.0
1395  1395.0        9.0         8.8    75717.0    85939.0
1396  1396.0        9.6         2.8    83840.0   115598.0
1397  1397.0       31.2        -2.3   115598.0   227289.0
1398  1398.0       41.2        -1.3   227289.0   564617.0
1399  1399.0       36.4         1.8   564617.0  2056766.0
1400  1400.0       40.0         4.4  1097858.0  1595580.0
1401  1401.0       52.0         2.4  1328000.0  1608000.0
1402  1402.0        NaN         NaN        NaN        NaN

In [398]:
data = data.drop([1402], axis=0)
data

        year  infaltion  gdp growth        low       high
year
1371  1371.0       24.4         3.3      410.0      488.0
1372  1372.0       22.9        -1.5      378.0      447.0
1373  1373.0       35.2        -1.7      427.0      929.0
1374  1374.0       49.4         2.4      878.0     2108.0
1375  1375.0       23.2         6.4     1673.0     2161.0
1376  1376.0       17.3         1.4     1466.0     1680.0
1377  1377.0       18.1         2.1     1517.0     1766.0
1378  1378.0       20.1         2.0     1765.0     2565.0
1379  1379.0       12.6         5.8     2565.0     3493.0
1380  1380.0       11.4         2.4     3194.0     4831.0
1381  1381.0       15.8         8.1     4445.0     9592.0
1382  1382.0       15.6         8.6     8742.0    13895.0
1383  1383.0       15.2         4.3     9801.0    13895.0
1384  1384.0       10.4         3.2     9016.0    10522.0
1385  1385.0       11.9         5.0     9016.0    10522.0
1386  1386.0       18.4         8.2     8742.0    12941.0
1387  1387.0       25.4         0.3     7969.0    12703.0
1388  1388.0       10.8         1.0    11159.0    19697.0
1389  1389.0       12.4         5.8    19697.0    27241.0
1390  1390.0       21.5         2.6    23780.0    38144.0
1391  1391.0       30.5        -3.7    36305.0    90012.0
1392  1392.0       34.7        -1.5    64285.0    81542.0
1393  1393.0       15.6         5.0    61374.0    71622.0
1394  1394.0       11.9        -1.4    63888.0    82556.0
1395  1395.0        9.0         8.8    75717.0    85939.0
1396  1396.0        9.6         2.8    83840.0   115598.0
1397  1397.0       31.2        -2.3   115598.0   227289.0
1398  1398.0       41.2        -1.3   227289.0   564617.0
1399  1399.0       36.4         1.8   564617.0  2056766.0
1400  1400.0       40.0         4.4  1097858.0  1595580.0
1401  1401.0       52.0         2.4  1328000.0  1608000.0

In [399]:
path2 = "C:\\Users\\ADMIN\\Desktop\\House_Price_divar_pyfinance_aliraoofi.csv"
data2 = pd.read_csv(path2)
data2

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12780\2742540259.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv(path2)

,Area,Construction,Room,Warehouse,Parking,Elevator,Address,Price,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,150,1388,3,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، مرزداران | فروش آپارتمان,۸٬۸۰۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54,1389,1,FALSE,TRUE,TRUE,۲ ساعت پیش در تهران، اندیشه | فروش آپارتمان,۸۶۸٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,69,1390,2,FALSE,TRUE,TRUE,۲ ساعت پیش در تهران، سلسبیل | فروش آپارتمان,۲٬۱۰۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52,1388,1,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، باغ فیض | فروش آپارتمان,۲٬۸۵۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,for more information:,NaN,NaN,NaN
4,135,1401,3,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، نیاوران | فروش آپارتمان,۹٬۵۰۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,telegram: @pyfiance,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38183,50,1396,1,FALSE,TRUE,TRUE,۶ روز پیش در تهران، اندیشه | فروش آپارتمان,۷۰۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38184,47,1397,1,TRUE,TRUE,TRUE,۳ ساعت پیش در تهران، اندیشه | فروش آپارتمان,۸۰۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38185,190,1399,3,TRUE,TRUE,TRUE,۶ روز پیش در تهران، آجودانیه | فروش آپارتمان,توافقی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38186,48,1383,1,FALSE,FALSE,FALSE,۶ روز پیش در تهران، بریانک | فروش آپارتمان,۱٬۰۸۰٬۰۰۰٬۰۰۰ تومان,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38187,150,1401,3,TRUE,TRUE,TRUE,۶ روز پیش در تهران، سعادت‌آباد | فروش آپارتمان,توافقی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [400]:
data2 = data2.drop(
    ['Unnamed: 8', 'Unnamed: 10', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
     'Unnamed: 15'], axis=1)
data2

,Area,Construction,Room,Warehouse,Parking,Elevator,Address,Price
0,150,1388,3,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، مرزداران | فروش آپارتمان,۸٬۸۰۰٬۰۰۰٬۰۰۰ تومان
1,54,1389,1,FALSE,TRUE,TRUE,۲ ساعت پیش در تهران، اندیشه | فروش آپارتمان,۸۶۸٬۰۰۰٬۰۰۰ تومان
2,69,1390,2,FALSE,TRUE,TRUE,۲ ساعت پیش در تهران، سلسبیل | فروش آپارتمان,۲٬۱۰۰٬۰۰۰٬۰۰۰ تومان
3,52,1388,1,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، باغ فیض | فروش آپارتمان,۲٬۸۵۰٬۰۰۰٬۰۰۰ تومان
4,135,1401,3,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، نیاوران | فروش آپارتمان,۹٬۵۰۰٬۰۰۰٬۰۰۰ تومان
...,...,...,...,...,...,...,...,...
38183,50,1396,1,FALSE,TRUE,TRUE,۶ روز پیش در تهران، اندیشه | فروش آپارتمان,۷۰۰٬۰۰۰٬۰۰۰ تومان
38184,47,1397,1,TRUE,TRUE,TRUE,۳ ساعت پیش در تهران، اندیشه | فروش آپارتمان,۸۰۰٬۰۰۰٬۰۰۰ تومان
38185,190,1399,3,TRUE,TRUE,TRUE,۶ روز پیش در تهران، آجودانیه | فروش آپارتمان,توافقی
38186,48,1383,1,FALSE,FALSE,FALSE,۶ روز پیش در تهران، بریانک | فروش آپارتمان,۱٬۰۸۰٬۰۰۰٬۰۰۰ تومان
38187,150,1401,3,TRUE,TRUE,TRUE,۶ روز پیش در تهران، سعادت‌آباد | فروش آپارتمان,توافقی

In [401]:
data2.Price[0]

'۸٬۸۰۰٬۰۰۰٬۰۰۰ تومان'

In [402]:
#def rem_str_exc(str_:str):
for i in data2.Price[0]:
    print(i)

۸
٬
۸
۰
۰
٬
۰
۰
۰
٬
۰
۰
۰

ت
و
م
ا
ن

In [403]:
def substr(str_: str, start_position: int, length: int):
    assert length <= len(str_)
    return str_[start_position:start_position + length]

In [404]:
substr(data2.Price[0], 0, 5)

'۸٬۸۰۰'

In [ ]:
def remove_substr(primal: str, intended: str):
    ln_pr = len(primal)
    ln_ind = len(intended)
    for i in range(ln_pr - ln_ind + 1):
        if primal[i:i + ln_ind] == intended:
            return primal[0:i]+primal[i+ln_ind-1:]
    else:
        return primal

In [405]:
def remove_intended_str(primal_str, intended_str):
    ln_ind = len(intended_str)
    ln_pr = len(primal_str)
    for i in range((ln_pr - ln_ind) + 1):
        #print(substr(primal_str, i, ln_ind))
        if intended_str == substr(primal_str, i, ln_ind):
            if (i + ln_ind) >= ln_pr:
                return substr(primal_str, 0, i)
            else:
                return substr(primal_str, 0, i) + substr(primal_str, i + ln_ind, ln_pr - ln_ind)
    else:
        return primal_str

In [406]:
a = 'bahram papaki kashani'
r = remove_intended_str(a, 'stu')
r

'bahram papaki kashani'

In [407]:
a = remove_intended_str(data2.Price[0], 'تومان')
a

'۸٬۸۰۰٬۰۰۰٬۰۰۰ '

In [408]:
b = a.replace('٬', '')
b = b.replace(" ", '')

In [409]:
def change_num_per_to_eng(str_num: str):
    str_c = ''
    a = {'۱': '1', '۲': '2', '۳': '3', '۴': '4', '۵': '5', '۶': '6', '۷': '7', '۸': '8', '۹': '9', '۰': '0'}
    ln_str = len(str_num)
    for i in range(ln_str):
        if str_num[i] in a.keys():
            d = str_num[i]
            d = a[d]
            str_c += d

    return str_c

In [410]:
change_num_per_to_eng(b)

'8800000000'

In [411]:
def pre_price_ch(str_num):
    a_st = ''
    if str_num != None:
        a_st = remove_intended_str(str_num, 'تومان')
        a_st = a_st.replace('٬', '')
        a_st = a_st.replace(' ', '')
        a_st = change_num_per_to_eng(a_st)
    return a_st

In [412]:
pre_price_ch(data2.Price[0])

'8800000000'

In [413]:
data2.Price

0        ۸٬۸۰۰٬۰۰۰٬۰۰۰ تومان
1          ۸۶۸٬۰۰۰٬۰۰۰ تومان
2        ۲٬۱۰۰٬۰۰۰٬۰۰۰ تومان
3        ۲٬۸۵۰٬۰۰۰٬۰۰۰ تومان
4        ۹٬۵۰۰٬۰۰۰٬۰۰۰ تومان
                ...
38183      ۷۰۰٬۰۰۰٬۰۰۰ تومان
38184      ۸۰۰٬۰۰۰٬۰۰۰ تومان
38185                 توافقی
38186    ۱٬۰۸۰٬۰۰۰٬۰۰۰ تومان
38187                 توافقی
Name: Price, Length: 38188, dtype: object

In [414]:
data2.Price[0]

'۸٬۸۰۰٬۰۰۰٬۰۰۰ تومان'

In [415]:
a = data2.Price[0]
a = remove_intended_str(a, 'تومان')
a
a = a.replace('٬', '')
a

'۸۸۰۰۰۰۰۰۰۰ '

In [416]:
data2.index

RangeIndex(start=0, stop=38188, step=1)

In [417]:
data2.Price

0        ۸٬۸۰۰٬۰۰۰٬۰۰۰ تومان
1          ۸۶۸٬۰۰۰٬۰۰۰ تومان
2        ۲٬۱۰۰٬۰۰۰٬۰۰۰ تومان
3        ۲٬۸۵۰٬۰۰۰٬۰۰۰ تومان
4        ۹٬۵۰۰٬۰۰۰٬۰۰۰ تومان
                ...
38183      ۷۰۰٬۰۰۰٬۰۰۰ تومان
38184      ۸۰۰٬۰۰۰٬۰۰۰ تومان
38185                 توافقی
38186    ۱٬۰۸۰٬۰۰۰٬۰۰۰ تومان
38187                 توافقی
Name: Price, Length: 38188, dtype: object

In [418]:
for i in data2.index:
    if (data2.Price[i] != 'توافقی') and (type(data2.Price[i]) != float) and (data2.Price[i] != None):
        data2.Price[i] = pre_price_ch(data2.Price[i])

In [419]:
data2.Price

0        8800000000
1         868000000
2        2100000000
3        2850000000
4        9500000000
            ...
38183     700000000
38184     800000000
38185        توافقی
38186    1080000000
38187        توافقی
Name: Price, Length: 38188, dtype: object

In [420]:
data2

,Area,Construction,Room,Warehouse,Parking,Elevator,Address,Price
0,150,1388,3,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، مرزداران | فروش آپارتمان,8800000000
1,54,1389,1,FALSE,TRUE,TRUE,۲ ساعت پیش در تهران، اندیشه | فروش آپارتمان,868000000
2,69,1390,2,FALSE,TRUE,TRUE,۲ ساعت پیش در تهران، سلسبیل | فروش آپارتمان,2100000000
3,52,1388,1,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، باغ فیض | فروش آپارتمان,2850000000
4,135,1401,3,TRUE,TRUE,TRUE,۲ ساعت پیش در تهران، نیاوران | فروش آپارتمان,9500000000
...,...,...,...,...,...,...,...,...
38183,50,1396,1,FALSE,TRUE,TRUE,۶ روز پیش در تهران، اندیشه | فروش آپارتمان,700000000
38184,47,1397,1,TRUE,TRUE,TRUE,۳ ساعت پیش در تهران، اندیشه | فروش آپارتمان,800000000
38185,190,1399,3,TRUE,TRUE,TRUE,۶ روز پیش در تهران، آجودانیه | فروش آپارتمان,توافقی
38186,48,1383,1,FALSE,FALSE,FALSE,۶ روز پیش در تهران، بریانک | فروش آپارتمان,1080000000
38187,150,1401,3,TRUE,TRUE,TRUE,۶ روز پیش در تهران، سعادت‌آباد | فروش آپارتمان,توافقی