In [136]:
import numpy as np
import pandas as pd

In [137]:
path1 = 'C:\\Users\\ADMIN\\Desktop\\my project\\concat\\1.xlsx'
path2 = 'C:\\Users\\ADMIN\\Desktop\\my project\\concat\\2.xlsx'

In [138]:
data1 = pd.read_excel(path1, header=3)
data2 = pd.read_excel(path2)
data1

                                     Country Name      2021     2021.1
0                                           Aruba  0.401008        NaN
1                     Africa Eastern and Southern  2.572461   4.303667
2                                     Afghanistan  2.303412        NaN
3                      Africa Western and Central  2.636291   3.914799
4                                          Angola  3.195916   0.700000
..                                            ...       ...        ...
131                                       Liberia  2.393792   4.000010
132                                         Libya  1.261797  31.372422
133                                     St. Lucia  0.419532   6.599327
134                     Latin America & Caribbean  0.877415   6.752375
135  Least developed countries: UN classification  2.305655   2.296664

[136 rows x 3 columns]

In [139]:
data1.rename(index=data1["Country Name"], inplace=True)
data1.drop(['Country Name'], axis=1, inplace=True)
data1.rename(columns={'2021': 'pop_grow', '2021.1': 'gdp_growth'}, inplace=True)
data1

                                              pop_grow  gdp_growth
Aruba                                         0.401008         NaN
Africa Eastern and Southern                   2.572461    4.303667
Afghanistan                                   2.303412         NaN
Africa Western and Central                    2.636291    3.914799
Angola                                        3.195916    0.700000
...                                                ...         ...
Liberia                                       2.393792    4.000010
Libya                                         1.261797   31.372422
St. Lucia                                     0.419532    6.599327
Latin America & Caribbean                     0.877415    6.752375
Least developed countries: UN classification  2.305655    2.296664

[136 rows x 2 columns]

In [140]:
data2.rename(index=data2['name'], inplace=True)
data2.drop(['name'], axis=1, inplace=True)
data2

                     pop growth  gdp growth
Low income             2.691016    3.013900
Liechtenstein          0.306319         NaN
Sri Lanka              1.075450    3.655632
Lower middle income    1.341333    5.591395
Low & middle income    1.104564    6.892505
...                         ...         ...
Kosovo                 0.897901    9.127578
Yemen, Rep.            2.204030   -2.061513
South Africa           1.228841    4.914603
Zambia                 2.877596    3.572815
Zimbabwe               1.530614    5.849420

[130 rows x 2 columns]

In [141]:
type(data1.pop_grow)

pandas.core.series.Series

In [142]:
col = data1.columns


def change_column(data_1, data_2):
    assert len(data_1.columns) == len(data_2.columns)
    col_1 = data_1.columns
    col_2 = data_2.columns
    dic = {}
    ln = len(data_2.columns)
    for i in range(ln):
        dic[col_2[i]] = col_1[i]
    return dic


data1

                                              pop_grow  gdp_growth
Aruba                                         0.401008         NaN
Africa Eastern and Southern                   2.572461    4.303667
Afghanistan                                   2.303412         NaN
Africa Western and Central                    2.636291    3.914799
Angola                                        3.195916    0.700000
...                                                ...         ...
Liberia                                       2.393792    4.000010
Libya                                         1.261797   31.372422
St. Lucia                                     0.419532    6.599327
Latin America & Caribbean                     0.877415    6.752375
Least developed countries: UN classification  2.305655    2.296664

[136 rows x 2 columns]

In [143]:
data2

                     pop growth  gdp growth
Low income             2.691016    3.013900
Liechtenstein          0.306319         NaN
Sri Lanka              1.075450    3.655632
Lower middle income    1.341333    5.591395
Low & middle income    1.104564    6.892505
...                         ...         ...
Kosovo                 0.897901    9.127578
Yemen, Rep.            2.204030   -2.061513
South Africa           1.228841    4.914603
Zambia                 2.877596    3.572815
Zimbabwe               1.530614    5.849420

[130 rows x 2 columns]

In [144]:
change_column(data1, data2)

{'pop growth': 'pop_grow', 'gdp growth': 'gdp_growth'}

In [145]:
data2.rename(columns=change_column(data1, data2), inplace=True)
data2

                     pop_grow  gdp_growth
Low income           2.691016    3.013900
Liechtenstein        0.306319         NaN
Sri Lanka            1.075450    3.655632
Lower middle income  1.341333    5.591395
Low & middle income  1.104564    6.892505
...                       ...         ...
Kosovo               0.897901    9.127578
Yemen, Rep.          2.204030   -2.061513
South Africa         1.228841    4.914603
Zambia               2.877596    3.572815
Zimbabwe             1.530614    5.849420

[130 rows x 2 columns]

In [146]:
ind1 = data1.index
ind2 = data2.index
ind1

Index(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina',
       ...
       'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Latin America & Caribbean',
       'Least developed countries: UN classification'],
      dtype='object', length=136)

In [147]:
ind2

Index(['Low income', 'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia',
       ...
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='object', length=130)

In [148]:
ind_ = list(ind1) + list(ind2)
ind_

['Aruba',
 'Africa Eastern and Southern',
 'Afghanistan',
 'Africa Western and Central',
 'Angola',
 'Albania',
 'Andorra',
 'Arab World',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Central Europe and the Baltics',
 'Switzerland',
 'Channel Islands',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Caribbean small states',
 'Cuba',
 'Curacao',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union',
 'Fragile and conflict affected situations',
 'Finland',
 'Fiji',
 'France',
 'Faroe Islands',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'High income',
 'Hong Kong SAR, China',
 'Honduras',
 'Heavily indebted poor countries (HIPC)',
 'Croatia',
 'Haiti',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'Indonesia',
 'IDA only',
 'Isle of Man',
 'India',
 'Not classified',
 'Ireland',
 'Iran, Islamic Rep.',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Kuwait',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Liechtenstein',
 'Sri Lanka',
 'Lower middle income',
 'Low & middle income',
 'Lesotho',
 'Late-demographic dividend',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'St. Martin (French part)',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Middle East & North Africa',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Middle East & North Africa (excluding high income)',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'OECD members',
 'Oman',
 'Other small states',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Puerto Rico',
 "Korea, Dem. People's Rep.",
 'Portugal',
 'Paraguay',
 'West Bank and Gaza',
 'Pacific island small states',
 'Post-demographic dividend',
 'French Polynesia',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'South Asia',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Serbia',
 'Sub-Saharan Africa (excluding high income)',
 'South Sudan',
 'Sub-Saharan Africa',
 'Small states',
 'Sao Tome and Principe',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Sint Maarten (Dutch part)',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Timor-Leste',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Tonga',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Upper middle income',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Venezuela, RB',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Kosovo',
 'Yemen, Rep.',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [149]:
'''ind_ = pd.Series(ind_)
data3 = data1
ind_'''

'ind_ = pd.Series(ind_)\ndata3 = data1\nind_'

In [150]:
val1 = data1.values
val1

array([[ 4.01008198e-01,             nan],
       [ 2.57246074e+00,  4.30366702e+00],
       [ 2.30341213e+00,             nan],
       [ 2.63629084e+00,  3.91479896e+00],
       [ 3.19591551e+00,  7.00000005e-01],
       [-9.26918062e-01,  8.54408325e+00],
       [ 1.15121699e-01,  8.94941798e+00],
       [ 1.93474613e+00,  3.53029406e+00],
       [ 1.01284055e+00,             nan],
       [ 9.47490959e-01,  1.02637609e+01],
       [ 1.65021157e-01,  5.70000000e+00],
       [-1.70444284e-01,             nan],
       [ 8.13607938e-01,  5.27084884e+00],
       [ 1.78832418e-01,  1.47516288e+00],
       [ 4.41053528e-01,  4.48396921e+00],
       [ 5.14776736e-01,  5.60003727e+00],
       [ 3.02056285e+00,  1.79530000e+00],
       [ 3.77319901e-01,  6.24472195e+00],
       [ 2.66826235e+00,  6.60000101e+00],
       [ 2.80119140e+00,  6.90634167e+00],
       [ 9.75322375e-01,  6.93867509e+00],
       [-5.04441855e-01,  4.17787358e+00],
       [ 2.70820330e+00,  2.22535124e+00],
       [ 9.27917643e-01,  1.37197349e+01],
       [-5.30419133e-01,  7.10223883e+00],
       [-4.23477521e-01,  2.50674235e+00],
       [ 1.81778782e+00,  9.75316324e+00],
       [-4.07013155e-02,  1.85259003e+00],
       [ 1.36058628e+00,  6.10580420e+00],
       [ 6.72384396e-01,  4.61942162e+00],
       [ 1.17201302e-01,  1.40000000e+00],
       [ 9.21264970e-01, -1.60554515e+00],
       [ 1.06838733e+00,             nan],
       [ 1.92114970e+00,  1.13641364e+01],
       [ 1.85082830e+00,  9.00000007e-01],
       [ 5.47707006e-01,  4.56289386e+00],
       [-4.92044076e-01,  5.56424854e+00],
       [ 7.05679609e-01,  3.69215263e+00],
       [ 7.93466264e-01,             nan],
       [ 5.01731211e-01,  1.16682247e+01],
       [ 8.92522000e-02,  8.10979258e+00],
       [ 2.52804006e+00,  7.02150184e+00],
       [ 2.52346070e+00,  3.48659924e+00],
       [ 3.09642353e+00,  5.71220368e+00],
       [ 2.48645731e+00, -3.50000000e+00],
       [ 7.49806313e-01,  1.05632927e+01],
       [ 2.14575387e+00,  2.34780357e+00],
       [ 1.05789665e+00,  6.95244869e+00],
       [ 8.78306567e-01,  7.57956530e+00],
       [ 5.28600669e-01,  5.15433915e+00],
       [-8.05330736e-02,             nan],
       [-1.67779125e+00,             nan],
       [ 1.17685789e+00,             nan],
       [ 6.79092430e-01,  5.51268536e+00],
       [ 5.22211182e-02,  3.34265301e+00],
       [-3.79890201e-02,  2.89260243e+00],
       [ 1.42651471e+00,  4.30966145e+00],
       [ 2.51104784e-01,  6.53574657e+00],
       [ 4.33414489e-01,  4.69343302e+00],
       [ 9.70669524e-01,  1.22719902e+01],
       [ 1.73080657e+00,  3.84779349e+00],
       [ 3.82062241e-01,  7.26715685e+00],
       [ 1.25336104e+00,  6.75252145e+00],
       [ 3.00873335e-01,  5.75940214e+00],
       [ 2.32701752e-01,  6.89740101e+00],
       [ 8.42560337e-02,  5.80419959e+00],
       [ 1.38140899e+00,  4.23525124e+00],
       [ 1.86258212e+00,  3.32674209e+00],
       [-4.13803743e-02,  5.39770788e+00],
       [            nan,             nan],
       [-7.75836112e-02,  5.12945513e+00],
       [-1.69253551e-02,  8.34945362e+00],
       [ 2.50197331e+00,  5.63730301e+00],
       [-1.19062663e-01,  5.38022448e+00],
       [ 2.29148448e+00,  2.52544269e+00],
       [ 2.19541912e-01,  3.47454718e+00],
       [ 7.17487182e-01, -4.08142494e+00],
       [ 1.77099191e-01,  6.96357079e+00],
       [ 3.83995243e-01,             nan],
       [ 1.06713339e+00, -3.18820993e+00],
       [ 2.35776614e+00,  1.50535940e+00],
       [ 3.65409887e-01,  7.44127309e+00],
       [-3.79636607e-01,  1.03589427e+01],
       [ 2.09921643e+00,  5.35647790e+00],
       [ 0.00000000e+00,             nan],
       [ 2.73726893e+00,  3.12323000e+00],
       [ 2.86637560e+00,  5.62649914e+00],
       [ 2.38455596e+00,  3.80000243e+00],
       [ 3.28862715e+00, -9.45391900e-01],
       [-3.36885796e-01,  8.33610201e+00],
       [ 4.39845699e-01,  5.31632530e+00],
       [ 5.06106194e-01,             nan],
       [ 1.48031681e+00,  7.52762878e+00],
       [ 8.26633848e-01,             nan],
       [ 4.78157889e-01,  1.99272289e+01],
       [ 5.55943098e-02,  5.10798986e+00],
       [-9.11776749e-01,  6.41847110e+00],
       [ 1.58646313e+00,  1.25340960e+01],
       [ 2.67671747e+00,  4.59438259e+00],
       [-3.74237675e+00,  1.04488725e+01],
       [ 1.21295673e+00, -1.79823989e+00],
       [-4.13802518e-01,  7.09661223e+00],
       [ 6.75561417e-01,  7.13113339e+00],
       [ 1.08903321e+00,  6.91194428e+00],
       [ 2.26571383e+00,  4.08081566e+00],
       [ 2.21615980e+00,  4.90586521e+00],
       [ 1.03228497e+00,  3.69124011e+00],
       [ 2.29079380e+00,  3.33876028e+00],
       [ 4.43553373e-01,             nan],
       [ 9.66660960e-01,  8.94796267e+00],
       [            nan,             nan],
       [ 8.49943363e-01,  1.34786580e+01],
       [ 1.22566497e+00,             nan],
       [ 2.35103263e+00,  2.78333544e+00],
       [ 1.57889895e+00,  3.69979240e+00],
       [ 1.60291067e+00,  8.18804046e+00],
       [-6.46839479e-01,  6.64379019e+00],
       [ 4.14550937e-01,  4.60000000e+00],
       [ 6.43627453e-01,  2.20976477e+00],
       [-4.59952416e-01,  1.62079553e+00],
       [ 1.30791817e+00,  4.00000000e+00],
       [ 2.23333202e+00,  7.51735539e+00],
       [ 1.72219322e+00,  3.61061270e+00],
       [ 1.35140736e+00,  3.02638936e+00],
       [ 1.61276406e+00,             nan],
       [ 6.63308846e-01, -1.02457864e+00],
       [-1.76408651e-01,  4.02115847e+00],
       [ 1.34876374e+00,             nan],
       [ 8.95108072e-01,  6.43213926e+00],
       [ 1.41664067e+00,  2.52835100e+00],
       [-8.28142802e-01, -1.05193894e+01],
       [ 2.39379229e+00,  4.00001000e+00],
       [ 1.26179699e+00,  3.13724222e+01],
       [ 4.19531632e-01,  6.59932736e+00],
       [ 8.77414594e-01,  6.75237549e+00],
       [ 2.30565471e+00,  2.29666423e+00]])

In [151]:
val2 = data1.values
val2

array([[ 4.01008198e-01,             nan],
       [ 2.57246074e+00,  4.30366702e+00],
       [ 2.30341213e+00,             nan],
       [ 2.63629084e+00,  3.91479896e+00],
       [ 3.19591551e+00,  7.00000005e-01],
       [-9.26918062e-01,  8.54408325e+00],
       [ 1.15121699e-01,  8.94941798e+00],
       [ 1.93474613e+00,  3.53029406e+00],
       [ 1.01284055e+00,             nan],
       [ 9.47490959e-01,  1.02637609e+01],
       [ 1.65021157e-01,  5.70000000e+00],
       [-1.70444284e-01,             nan],
       [ 8.13607938e-01,  5.27084884e+00],
       [ 1.78832418e-01,  1.47516288e+00],
       [ 4.41053528e-01,  4.48396921e+00],
       [ 5.14776736e-01,  5.60003727e+00],
       [ 3.02056285e+00,  1.79530000e+00],
       [ 3.77319901e-01,  6.24472195e+00],
       [ 2.66826235e+00,  6.60000101e+00],
       [ 2.80119140e+00,  6.90634167e+00],
       [ 9.75322375e-01,  6.93867509e+00],
       [-5.04441855e-01,  4.17787358e+00],
       [ 2.70820330e+00,  2.22535124e+00],
       [ 9.27917643e-01,  1.37197349e+01],
       [-5.30419133e-01,  7.10223883e+00],
       [-4.23477521e-01,  2.50674235e+00],
       [ 1.81778782e+00,  9.75316324e+00],
       [-4.07013155e-02,  1.85259003e+00],
       [ 1.36058628e+00,  6.10580420e+00],
       [ 6.72384396e-01,  4.61942162e+00],
       [ 1.17201302e-01,  1.40000000e+00],
       [ 9.21264970e-01, -1.60554515e+00],
       [ 1.06838733e+00,             nan],
       [ 1.92114970e+00,  1.13641364e+01],
       [ 1.85082830e+00,  9.00000007e-01],
       [ 5.47707006e-01,  4.56289386e+00],
       [-4.92044076e-01,  5.56424854e+00],
       [ 7.05679609e-01,  3.69215263e+00],
       [ 7.93466264e-01,             nan],
       [ 5.01731211e-01,  1.16682247e+01],
       [ 8.92522000e-02,  8.10979258e+00],
       [ 2.52804006e+00,  7.02150184e+00],
       [ 2.52346070e+00,  3.48659924e+00],
       [ 3.09642353e+00,  5.71220368e+00],
       [ 2.48645731e+00, -3.50000000e+00],
       [ 7.49806313e-01,  1.05632927e+01],
       [ 2.14575387e+00,  2.34780357e+00],
       [ 1.05789665e+00,  6.95244869e+00],
       [ 8.78306567e-01,  7.57956530e+00],
       [ 5.28600669e-01,  5.15433915e+00],
       [-8.05330736e-02,             nan],
       [-1.67779125e+00,             nan],
       [ 1.17685789e+00,             nan],
       [ 6.79092430e-01,  5.51268536e+00],
       [ 5.22211182e-02,  3.34265301e+00],
       [-3.79890201e-02,  2.89260243e+00],
       [ 1.42651471e+00,  4.30966145e+00],
       [ 2.51104784e-01,  6.53574657e+00],
       [ 4.33414489e-01,  4.69343302e+00],
       [ 9.70669524e-01,  1.22719902e+01],
       [ 1.73080657e+00,  3.84779349e+00],
       [ 3.82062241e-01,  7.26715685e+00],
       [ 1.25336104e+00,  6.75252145e+00],
       [ 3.00873335e-01,  5.75940214e+00],
       [ 2.32701752e-01,  6.89740101e+00],
       [ 8.42560337e-02,  5.80419959e+00],
       [ 1.38140899e+00,  4.23525124e+00],
       [ 1.86258212e+00,  3.32674209e+00],
       [-4.13803743e-02,  5.39770788e+00],
       [            nan,             nan],
       [-7.75836112e-02,  5.12945513e+00],
       [-1.69253551e-02,  8.34945362e+00],
       [ 2.50197331e+00,  5.63730301e+00],
       [-1.19062663e-01,  5.38022448e+00],
       [ 2.29148448e+00,  2.52544269e+00],
       [ 2.19541912e-01,  3.47454718e+00],
       [ 7.17487182e-01, -4.08142494e+00],
       [ 1.77099191e-01,  6.96357079e+00],
       [ 3.83995243e-01,             nan],
       [ 1.06713339e+00, -3.18820993e+00],
       [ 2.35776614e+00,  1.50535940e+00],
       [ 3.65409887e-01,  7.44127309e+00],
       [-3.79636607e-01,  1.03589427e+01],
       [ 2.09921643e+00,  5.35647790e+00],
       [ 0.00000000e+00,             nan],
       [ 2.73726893e+00,  3.12323000e+00],
       [ 2.86637560e+00,  5.62649914e+00],
       [ 2.38455596e+00,  3.80000243e+00],
       [ 3.28862715e+00, -9.45391900e-01],
       [-3.36885796e-01,  8.33610201e+00],
       [ 4.39845699e-01,  5.31632530e+00],
       [ 5.06106194e-01,             nan],
       [ 1.48031681e+00,  7.52762878e+00],
       [ 8.26633848e-01,             nan],
       [ 4.78157889e-01,  1.99272289e+01],
       [ 5.55943098e-02,  5.10798986e+00],
       [-9.11776749e-01,  6.41847110e+00],
       [ 1.58646313e+00,  1.25340960e+01],
       [ 2.67671747e+00,  4.59438259e+00],
       [-3.74237675e+00,  1.04488725e+01],
       [ 1.21295673e+00, -1.79823989e+00],
       [-4.13802518e-01,  7.09661223e+00],
       [ 6.75561417e-01,  7.13113339e+00],
       [ 1.08903321e+00,  6.91194428e+00],
       [ 2.26571383e+00,  4.08081566e+00],
       [ 2.21615980e+00,  4.90586521e+00],
       [ 1.03228497e+00,  3.69124011e+00],
       [ 2.29079380e+00,  3.33876028e+00],
       [ 4.43553373e-01,             nan],
       [ 9.66660960e-01,  8.94796267e+00],
       [            nan,             nan],
       [ 8.49943363e-01,  1.34786580e+01],
       [ 1.22566497e+00,             nan],
       [ 2.35103263e+00,  2.78333544e+00],
       [ 1.57889895e+00,  3.69979240e+00],
       [ 1.60291067e+00,  8.18804046e+00],
       [-6.46839479e-01,  6.64379019e+00],
       [ 4.14550937e-01,  4.60000000e+00],
       [ 6.43627453e-01,  2.20976477e+00],
       [-4.59952416e-01,  1.62079553e+00],
       [ 1.30791817e+00,  4.00000000e+00],
       [ 2.23333202e+00,  7.51735539e+00],
       [ 1.72219322e+00,  3.61061270e+00],
       [ 1.35140736e+00,  3.02638936e+00],
       [ 1.61276406e+00,             nan],
       [ 6.63308846e-01, -1.02457864e+00],
       [-1.76408651e-01,  4.02115847e+00],
       [ 1.34876374e+00,             nan],
       [ 8.95108072e-01,  6.43213926e+00],
       [ 1.41664067e+00,  2.52835100e+00],
       [-8.28142802e-01, -1.05193894e+01],
       [ 2.39379229e+00,  4.00001000e+00],
       [ 1.26179699e+00,  3.13724222e+01],
       [ 4.19531632e-01,  6.59932736e+00],
       [ 8.77414594e-01,  6.75237549e+00],
       [ 2.30565471e+00,  2.29666423e+00]])

In [152]:
col1 = data1.columns
col2 = data2.columns
'''lnx_1 = len(ind1)
lny_1 = len(col1)
l1 = []
for i in range(lnx_1):
    l0 = []
    for j in range(lny_1):
        l0.append(val1[i][j])
    l1.append(l0)
lnx_2 = len(ind2)
lny_2 = len(col2)
l2 = []
for i in range(lnx_2):
    l00 = []
    for j in range(lny_2):
        l00.append(val2[i][j])
    l2.append(l00)

l1 + l2'''

'lnx_1 = len(ind1)\nlny_1 = len(col1)\nl1 = []\nfor i in range(lnx_1):\n    l0 = []\n    for j in range(lny_1):\n        l0.append(val1[i][j])\n    l1.append(l0)\nlnx_2 = len(ind2)\nlny_2 = len(col2)\nl2 = []\nfor i in range(lnx_2):\n    l00 = []\n    for j in range(lny_2):\n        l00.append(val2[i][j])\n    l2.append(l00)\n\nl1 + l2'

In [153]:
def eqauly_data(data_1, data_2):
    assert len(data_1) == len(data_2)
    b = 1
    for i in range(len(data_1)):
        if data_1[i] == data_2[i]:
            b *= 1
        else:
            b *= 0
    return bool(b)

In [154]:
def concat(data_1: pd.core.series.Series, data_2: pd.core.series.Series, axis: int):
    col_1 = data_1.columns
    col_2 = data_2.columns
    ind_1 = data_1.index
    ind_2 = data_2.index
    val_1 = data_1.values
    val_2 = data_2.values
    lnx_1 = len(ind_1)
    lny_1 = len(col_1)
    lnx_2 = len(ind2)
    lny_2 = len(col2)
    if axis == 0:
        assert len(data_1.columns) == len(data_2.columns)
    if axis == 0:

        assert eqauly_data(col_1, col_2)

        ind = list(ind_1) + list(ind_2)
        ind = pd.Series(ind)
        #data_2.rename(columns=change_column(data_1, data_2), inplace=True)
        l1 = []
        for i in range(lnx_1 + lnx_2):
            l0 = []
            for j in range(lny_1):
                if i < lnx_1:
                    l0.append(val1[i][j])
                else:
                    i2=i-lnx_1
                    l0.append(val_2[i2][j])
            l1.append(l0)
        val = np.array(l1)
        return pd.DataFrame(val, index=ind_, columns=col1)
    if axis == 1:
        assert len(data_1.index) == len(data_2.index)
        assert eqauly_data(ind_1, ind_2)
        col_a = list(col_1) + list(col_2)
        col_a = pd.Series(col_a)
        l1 = []
        for i in range(lnx_1):
            l0 = []
            for j in range(lny_1 + lny_2):
                if j < lny_1:
                    l0.append(val_1[i][j])
                else:
                    j2=j-lny_1
                    l0.append(val_2[i][j])
            l1.append(l0)
        val = np.array(l1)
        return pd.DataFrame(val, index=ind_, columns=col1)

In [155]:
data3 = concat(data1, data2, axis=0)
data3

                             pop_grow  gdp_growth
Aruba                        0.401008         NaN
Africa Eastern and Southern  2.572461    4.303667
Afghanistan                  2.303412         NaN
Africa Western and Central   2.636291    3.914799
Angola                       3.195916    0.700000
...                               ...         ...
Kosovo                       0.897901    9.127578
Yemen, Rep.                  2.204030   -2.061513
South Africa                 1.228841    4.914603
Zambia                       2.877596    3.572815
Zimbabwe                     1.530614    5.849420

[266 rows x 2 columns]