In [258]:
import numpy as np
import pandas as pd

In [259]:
path = 'C:\\Users\\ADMIN\\Desktop\\my project\\ex1.xlsx'

In [260]:
data = pd.read_excel(path)
data

   Unnamed: 0  A  B  C
0           1  a  A  a
1           2  a  A  a
2           3  a  A  B
3           4  a  B  B
4           5  b  B  b
5           6  b  B  b
6           7  b  B  A
7           7  b  A  A

In [261]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)
data

   A  B  C
0  a  A  a
1  a  A  a
2  a  A  B
3  a  B  B
4  b  B  b
5  b  B  b
6  b  B  A
7  b  A  A

for i in data.index:
    for j in data.index:
        if j < i:
            b = False
            for k in range(len(data.loc[i][:])):
                if data.loc[i][:][k] == data.loc[j][:][k]:
                    b = True
                else:
                    b = False
            if b:
                print(i, j, 'ok')

In [262]:
def eqauly_data(data1, data2):
    assert len(data1) == len(data2)
    b = 1
    for i in range(len(data1)):
        if data1[i] == data2[i]:
            b *= 1
        else:
            b *= 0
    return bool(b)

In [263]:
eqauly_data(data.loc[1][:], data.loc[0][:])

True

In [264]:
data.reset_index()

   index  A  B  C
0      0  a  A  a
1      1  a  A  a
2      2  a  A  B
3      3  a  B  B
4      4  b  B  b
5      5  b  B  b
6      6  b  B  A
7      7  b  A  A

In [265]:
def reset_ind(data1, axis1: int):
    dic = {}
    if axis1 == 0:
        ind = data1.index
        ln = len(ind)
        l = [str(i) for i in range(ln)]
        for i in range(ln):
            dic[ind[i]] = l[i]
        return dic
    if axis1 == 1:
        col = data1.columns
        ln = len(col)
        l = [str(i) for i in range(ln)]
        for i in range(ln):
            dic[col[i]] = l[i]
        return dic

In [266]:
def reap(data1, axis1=int):
    assert axis1 == 0 or axis1 == 1
    c_data = data1
    l_reap = []
    c_data = c_data.rename(index=reset_ind(c_data, 0))
    c_data = c_data.rename(columns=reset_ind(c_data, 1))
    ln = len(c_data.index)
    ln2 = len(c_data.columns)

    if axis1 == 0:
        for i in range(ln - 1, -1, -1):
            for j in range(0, i):
                #print('ax0', i, j)
                #print(eqauly_data(c_data.loc[str(i)][:], c_data.loc[str(j)][:]))
                if eqauly_data(c_data.loc[str(i)][:], c_data.loc[str(j)][:]):
                    #print('row ok', i, j)
                    l_reap.append((i, j))
    elif axis1 == 1:
        for i in range(ln2 - 1, -1, -1):
            for j in range(0, i):
                #print('ax1', i, j)
                #print(eqauly_data(c_data[str(i)], c_data[str(j)]))
                if eqauly_data(c_data[str(i)], c_data[str(j)]):
                    #print('column ok', i, j)
                    l_reap.append((i, j))
    return l_reap

In [267]:
data

   A  B  C
0  a  A  a
1  a  A  a
2  a  A  B
3  a  B  B
4  b  B  b
5  b  B  b
6  b  B  A
7  b  A  A

In [268]:
data.loc[7][:]

A    b
B    A
C    A
Name: 7, dtype: object

In [269]:
reap(data, 0)

[(5, 4), (1, 0)]

In [271]:
reap(data,1)

[]

In [272]:
data.duplicated()

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [273]:
data.drop_duplicates()

   A  B  C
0  a  A  a
2  a  A  B
3  a  B  B
4  b  B  b
6  b  B  A
7  b  A  A

data.drop_duplicates(['A'])