In [211]:
import numpy as np
import pandas as pd
from sklearn import preprocessing as pr

In [212]:
path = 'C:\\Users\\ADMIN\\Desktop\\my project\\pop_area.xlsx'
data = pd.read_excel(path, header=3)
data

                    Country Name Country Code         2021          2018
0                          Aruba          ABW     107195.0  1.800000e+02
1    Africa Eastern and Southern          AFE  694665117.0  1.512116e+07
2                    Afghanistan          AFG   39835428.0  6.528600e+05
3     Africa Western and Central          AFW  470898870.0  9.166270e+06
4                         Angola          AGO   33933611.0  1.246700e+06
..                           ...          ...          ...           ...
261                       Kosovo          XKX    1806279.0           NaN
262                  Yemen, Rep.          YEM   30490639.0  5.279700e+05
263                 South Africa          ZAF   60041996.0  1.219090e+06
264                       Zambia          ZMB   18920657.0  7.526100e+05
265                     Zimbabwe          ZWE   15092171.0  3.907600e+05

[266 rows x 4 columns]

In [213]:
#data.drop([0, 1], axis=0, inplace=True)
data

                    Country Name Country Code         2021          2018
0                          Aruba          ABW     107195.0  1.800000e+02
1    Africa Eastern and Southern          AFE  694665117.0  1.512116e+07
2                    Afghanistan          AFG   39835428.0  6.528600e+05
3     Africa Western and Central          AFW  470898870.0  9.166270e+06
4                         Angola          AGO   33933611.0  1.246700e+06
..                           ...          ...          ...           ...
261                       Kosovo          XKX    1806279.0           NaN
262                  Yemen, Rep.          YEM   30490639.0  5.279700e+05
263                 South Africa          ZAF   60041996.0  1.219090e+06
264                       Zambia          ZMB   18920657.0  7.526100e+05
265                     Zimbabwe          ZWE   15092171.0  3.907600e+05

[266 rows x 4 columns]

In [214]:
data.rename(index=data['Country Name'], inplace=True)

In [215]:
data.rename(columns={'2021': 'population', '2018': 'area'}, inplace=True)
data.drop(['Country Name', "Country Code"], axis=1, inplace=True)
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0           NaN
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[266 rows x 2 columns]

In [216]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, Aruba to Zimbabwe
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  264 non-null    float64
 1   area        264 non-null    float64
dtypes: float64(2)
memory usage: 6.2+ KB

In [217]:
data.describe()

         population          area
count  2.640000e+02  2.640000e+02
mean   3.210893e+08  5.337684e+06
std    9.988295e+08  1.550969e+07
min    1.087300e+04  1.000000e+01
25%    1.791783e+06  2.090000e+04
50%    1.054019e+07  2.037750e+05
75%    6.295547e+07  1.251775e+06
max    7.836631e+09  1.345427e+08

In [218]:
popmax = data.population.max()

In [219]:
re = data.population[data.population == popmax]
data.drop(re.index, axis=0, inplace=True)

In [220]:
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0           NaN
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[265 rows x 2 columns]

In [221]:
data.isnull().sum()

population    2
area          2
dtype: int64

In [222]:
data.replace(np.nan, 0, inplace=True)
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0  0.000000e+00
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[265 rows x 2 columns]

In [223]:
mask2 = data.area != 0
a = data.area[mask2]
a

Aruba                          1.800000e+02
Africa Eastern and Southern    1.512116e+07
Afghanistan                    6.528600e+05
Africa Western and Central     9.166270e+06
Angola                         1.246700e+06
                                   ...
Samoa                          2.840000e+03
Yemen, Rep.                    5.279700e+05
South Africa                   1.219090e+06
Zambia                         7.526100e+05
Zimbabwe                       3.907600e+05
Name: area, Length: 263, dtype: float64

data.fillna(0)

In [224]:
a = data.population[data.population == 0]
l1 = a.index
a

Eritrea           0.0
Not classified    0.0
Name: population, dtype: float64

In [225]:
b = data.area[data.area == 0]
l2 = b.index
b

Not classified    0.0
Kosovo            0.0
Name: area, dtype: float64

In [226]:
data.area[data.area == 0] = 1

In [227]:
data.area[data.area == 1]

Not classified    1.0
Kosovo            1.0
Name: area, dtype: float64

In [228]:
data.area[data.area == 1] = 0

In [229]:
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Kosovo                         1806279.0  0.000000e+00
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[265 rows x 2 columns]

In [230]:
l3=list(l1)
l3=l3+list(l2)
l3=set(l3)
l3=list(l3)
l3

['Eritrea', 'Kosovo', 'Not classified']

In [231]:
data.drop(l3, axis=0, inplace=True)
data

                              population          area
Aruba                           107195.0  1.800000e+02
Africa Eastern and Southern  694665117.0  1.512116e+07
Afghanistan                   39835428.0  6.528600e+05
Africa Western and Central   470898870.0  9.166270e+06
Angola                        33933611.0  1.246700e+06
...                                  ...           ...
Samoa                           200144.0  2.840000e+03
Yemen, Rep.                   30490639.0  5.279700e+05
South Africa                  60041996.0  1.219090e+06
Zambia                        18920657.0  7.526100e+05
Zimbabwe                      15092171.0  3.907600e+05

[262 rows x 2 columns]