In [160]:
import math
import random

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [161]:
path = 'C:\\Users\\ADMIN\\Desktop\\my project\\data\\imports-85.data.csv'
car_data = pd.read_csv(path)

In [162]:
def change_ind_col(data_1, axis):
    dic_ch = {}
    if axis == 0:
        lnx = len(data_1.index)
        ind = data_1.index
        for i in range(lnx):
            dic_ch[ind[i]] = str(i)
        data_1.rename(index=dic_ch, inplace=True)
    if axis == 1:
        lny = len(data_1.columns)
        ind = data_1.columns
        for i in range(lny):
            dic_ch[ind[i]] = str(i)
        data_1.rename(columns=dic_ch, inplace=True)


change_ind_col(car_data, axis=1)

In [163]:
from numerizer import  numerize

In [164]:
car_data.rename(columns={'0': 'symbol', '1': 'normalize_loses', '2': 'make', '3': 'fuel_type'
    , '4': 'aspiration', '5': 'num_of_door', '6': 'body', '7': 'wheel_dr', '8': 'engine_loc'
    , '9': 'wheel_base', '10': 'length', '11': 'width', '12': 'height', '13': 'curb_weight'
    , '14': 'engine_type', '15': 'num_of_cylender', '16': 'engine_sz', '17': 'fuel_sys'
    , '18': 'bore', '19': 'stroke', '20': 'comp_ratio', '21': 'hp', '22': 'peak_rpm', '23': 'city_mpg'
    , '24': 'highway_mpg', '25': 'price'}, inplace=True)
car_data

,symbol,normalize_loses,make,fuel_type,aspiration,num_of_door,body,wheel_dr,engine_loc,wheel_base,...,engine_sz,fuel_sys,bore,stroke,comp_ratio,hp,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [165]:
for i in range(len(car_data.num_of_door)):
    car_data.num_of_door[i] = numerize(car_data.num_of_door[i])
car_data

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6488\1286206773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data.num_of_door[i] = numerize(car_data.num_of_door[i])

,symbol,normalize_loses,make,fuel_type,aspiration,num_of_door,body,wheel_dr,engine_loc,wheel_base,...,engine_sz,fuel_sys,bore,stroke,comp_ratio,hp,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,2,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,4,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [166]:
def get_col_exc(data_1, list_exc: list):
    col = data_1.columns
    col = list(col)
    l_n = []
    for i in col:
        if i not in list_exc:
            l_n.append(i)
    return l_n

In [167]:
l_not = get_col_exc(car_data, ['num_of_door', 'wheel_base', 'length', 'width', 'height', 'curb_weight', 'body'])
l_not

['symbol',
 'normalize_loses',
 'make',
 'fuel_type',
 'aspiration',
 'wheel_dr',
 'engine_loc',
 'engine_type',
 'num_of_cylender',
 'engine_sz',
 'fuel_sys',
 'bore',
 'stroke',
 'comp_ratio',
 'hp',
 'peak_rpm',
 'city_mpg',
 'highway_mpg',
 'price']

In [168]:
car_data2 = car_data.drop(l_not, axis=1)
car_data2

    num_of_door         body  wheel_base  length  width  height  curb_weight
0             2  convertible        88.6   168.8   64.1    48.8         2548
1             2    hatchback        94.5   171.2   65.5    52.4         2823
2             4        sedan        99.8   176.6   66.2    54.3         2337
3             4        sedan        99.4   176.6   66.4    54.3         2824
4             2        sedan        99.8   177.3   66.3    53.1         2507
..          ...          ...         ...     ...    ...     ...          ...
199           4        sedan       109.1   188.8   68.9    55.5         2952
200           4        sedan       109.1   188.8   68.8    55.5         3049
201           4        sedan       109.1   188.8   68.9    55.5         3012
202           4        sedan       109.1   188.8   68.9    55.5         3217
203           4        sedan       109.1   188.8   68.9    55.5         3062

[204 rows x 7 columns]

In [169]:
for i in range(len(car_data2.num_of_door)):
    a_1 = car_data2.num_of_door[i]
    if a_1.isdecimal():
        car_data2.num_of_door[i] = int(a_1)
    else:
        car_data2.num_of_door[i] = 0
car_data2

TypeError: 'Series' object is not callable

In [ ]:
mask = car_data2.num_of_door == np.nan
car_data2.num_of_door[mask]

In [ ]:
car_data2.num_of_door[62]

In [ ]:
car_data2.isnull()

In [ ]:
re = car_data2[car_data2.num_of_door == 0].index
re

In [ ]:
car_data2.drop(re, axis=0, inplace=True)

In [ ]:
car_data2

In [ ]:
#pd.plotting.scatter_matrix(car_data2, c=car_data2.body)

In [ ]:
b = car_data2.body.unique()
b

In [ ]:
b[0]

In [ ]:
dic = {}
for i in range(len(b)):
    dic[b[i]] = i
dic

In [ ]:
26 in range(len(car_data2.body))

In [ ]:
ind = pd.Series(range(len(car_data2.body)))

In [ ]:
car_data2 = car_data2.rename(index=ind)
car_data2

In [ ]:
26 in ind

In [ ]:
26 in car_data2.index

In [ ]:
car_data2['body_num'] = 0
for i in range(len(car_data2.body)):
    if i != 26 and i != 62:
        car_data2.body_num[i] = dic[car_data2.body[i]]
car_data2

In [ ]:
car_data2.drop(['body'], axis=1, inplace=True)
car_data2

In [ ]:
pd.plotting.scatter_matrix(car_data2, c=car_data2.body_num, figsize=(15, 15))

In [ ]:
#plt.figure(figsize=(10,10),dpi=1000)
#plt.scatter(car_data2.height,car_data2.curb_weight,c=car_data2.body_num)

In [ ]:
#plt.figure(figsize=(10,10),dpi=1000)
#plt.scatter(car_data2.length,car_data2.curb_weight,c=car_data2.body_num)

In [ ]:
#plt.figure(figsize=(10,10),dpi=1000)
#plt.scatter(car_data2.length,car_data2.wheel_base,c=car_data2.body_num)

In [ ]:
plt.figure(figsize=(15, 15), dpi=500)
plt.scatter(car_data2.wheel_base[:50], car_data2.height[:50], c=car_data2.body_num[:50])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
x = car_data2.drop(['body_num'], axis=1)
x = x.values

In [ ]:
knn = KNeighborsClassifier(n_neighbors=6, metric='minkowski', p=2)
knn.fit(x, car_data2.body_num)

In [ ]:
x

In [ ]:
car_data2

In [ ]:
y = knn.predict([[4, 99.8, 176.6, 66.2, 54.3, 2337]])
y

In [ ]:
dic

In [ ]:
mask = car_data2.body_num == 1
car_data2.curb_weight[mask].mean()

In [ ]:
a = pd.crosstab(car_data2.body_num, car_data2.curb_weight)
a

In [ ]:
type(a)

In [ ]:
a.index

In [ ]:
c = pd.crosstab(car_data2.body_num, car_data2.curb_weight)[:][2:3]
c

In [ ]:
mask = car_data2.body_num == 2
car_data2.curb_weight[mask].mean()

In [ ]:
group_body = car_data2.groupby(['body_num'])
group_body

In [ ]:
dic

In [ ]:
gr_cr = group_body.mean()
gr_cr

In [ ]:
group_body.max()

In [ ]:
4 ** 0.5

In [ ]:
def distance(data_1, data_2):
    assert len(data_1) == len(data_2)
    dist = 0
    for i in range(len(data_1)):
        dist += (data_1[i] - data_2[i]) ** 2
    return dist ** 0.5

[4, 99.8, 176.6, 66.2, 54.3, 2337]

In [ ]:
conv_avg = gr_cr.loc[0][:]
conv_avg

In [ ]:
intended = [99.8, 176.6, 66.2, 54.3, 2337]

In [ ]:
conv_avg = list(conv_avg.values)
conv_avg

In [ ]:
len(conv_avg)

In [ ]:
len(intended)

In [ ]:
distance(conv_avg, intended)

In [ ]:
gr_cr.index

In [ ]:
def find_near(data_1, intended_1):
    lis_dist = []
    for i in data_1.index:
        dist = distance(data_1.loc[i][:], intended_1)
        lis_dist.append(dist)
    lis_dist = np.array(lis_dist)
    min = lis_dist.min()
    for i in range(len(lis_dist)):
        if lis_dist[i] == min:
            return i

In [ ]:
find_near(gr_cr, intended)

In [ ]:
car_data2

In [ ]:
x

In [ ]:
y = car_data2.body_num

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
len(x)

In [ ]:
len(y)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.99, test_size=0.01, shuffle=True)

In [ ]:
knn2 = KNeighborsClassifier(n_neighbors=10, metric='minkowski', p=2)
knn2.fit(x_train, y_train)

In [ ]:
knn2.score(x_test, y_test)

In [ ]:
x

In [ ]:
y

In [ ]:
20 // 10

In [ ]:
List_score = []
for i in range(1, 100):
    tr_sz = i / 100
    x_train1, x_test1, y_train1, y_test1 = train_test_split(x, y, train_size=tr_sz, test_size=1 - tr_sz, shuffle=True)
    knn3 = KNeighborsClassifier(n_neighbors=2 + i // 10, metric='minkowski', p=2)
    knn3.fit(x_train1, y_train1)
    s = knn3.score(x_test1, y_test1)
    List_score.append(s)

In [ ]:
plt.plot(List_score)

In [ ]:
list_score = np.array(List_score)
list_score.mean()

In [ ]:
car_data2