In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
imdb_df = pd.read_csv('F:\my project\dataset\learning_dataset\\ratings.csv', usecols=range(3))
imdb_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [10]:
movie_name_df = pd.read_csv('F:\my project\dataset\learning_dataset\\movies.csv', usecols=range(2), index_col=0)
movie_name_df

                                             title
movieId
1                                 Toy Story (1995)
2                                   Jumanji (1995)
3                          Grumpier Old Men (1995)
4                         Waiting to Exhale (1995)
5               Father of the Bride Part II (1995)
...                                            ...
193581   Black Butler: Book of the Atlantic (2017)
193583                No Game No Life: Zero (2017)
193585                                Flint (2017)
193587         Bungo Stray Dogs: Dead Apple (2018)
193609         Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 1 columns]

In [11]:
imdb_df['name_film'] = ''
for i in imdb_df.index:
    imdb_df['name_film'][i] = movie_name_df['title'][imdb_df.movieId[i]]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_7916\2152222115.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df['name_film'][i]=movie_name_df['title'][imdb_df.movieId[i]]

In [12]:
imdb_df

        userId  movieId  rating                       name_film
0            1        1     4.0                Toy Story (1995)
1            1        3     4.0         Grumpier Old Men (1995)
2            1        6     4.0                     Heat (1995)
3            1       47     5.0     Seven (a.k.a. Se7en) (1995)
4            1       50     5.0      Usual Suspects, The (1995)
...        ...      ...     ...                             ...
100831     610   166534     4.0                    Split (2017)
100832     610   168248     5.0   John Wick: Chapter Two (2017)
100833     610   168250     5.0                  Get Out (2017)
100834     610   168252     5.0                    Logan (2017)
100835     610   170875     3.0  The Fate of the Furious (2017)

[100836 rows x 4 columns]

In [27]:
user_movie_df = pd.pivot_table(index='userId', columns='movieId', values='rating', data=imdb_df)
user_movie_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
toystory_rating = user_movie_df[1]
toystory_rating

userId
1      4.0
2      NaN
3      NaN
4      NaN
5      4.0
      ...
606    2.5
607    4.0
608    2.5
609    3.0
610    5.0
Name: 1, Length: 610, dtype: float64

In [42]:
toystory_rating[toystory_rating >= 0].size

215

In [43]:
user_movie_df[2][user_movie_df[2] >= 0].size

110

In [18]:
similar = user_movie_df.corrwith(toystory_rating)
similar

c:\users\admin\pycharmprojects\pythonproject5\venv\lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\users\admin\pycharmprojects\pythonproject5\venv\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

movieId
1         1.000000
2         0.330978
3         0.487109
4         1.000000
5         0.310971
            ...
193581         NaN
193583         NaN
193585         NaN
193587         NaN
193609         NaN
Length: 9724, dtype: float64

In [23]:
similar[similar >= 0.9]

movieId
1         1.000000
4         1.000000
8         0.968246
61        1.000000
102       0.970725
            ...
179817    1.000000
180031    0.904534
180985    0.981981
184253    1.000000
184471    0.944911
Length: 612, dtype: float64

In [24]:
movie_name_df.title[similar[similar >= 0.9].index[2]]

'Tom and Huck (1995)'

In [92]:
rating = pd.read_csv('F:\my project\dataset\learning_dataset\\ratings.csv', usecols=range(3))
rating

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [93]:
movies = pd.read_csv('F:\my project\dataset\learning_dataset\\movies.csv', usecols=range(2))
movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [94]:
rating_full = pd.merge(rating, movies)
rating_full

        userId  movieId  rating                             title
0            1        1     4.0                  Toy Story (1995)
1            5        1     4.0                  Toy Story (1995)
2            7        1     4.5                  Toy Story (1995)
3           15        1     2.5                  Toy Story (1995)
4           17        1     4.5                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

[100836 rows x 4 columns]

In [95]:
user_movies = pd.pivot_table(index='userId', columns='movieId', values='rating', data=rating_full)
user_movies

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
user1_rates = pd.merge(rating[rating.userId == 1], movies)
user1_rates

     userId  movieId  rating                           title
0         1        1     4.0                Toy Story (1995)
1         1        3     4.0         Grumpier Old Men (1995)
2         1        6     4.0                     Heat (1995)
3         1       47     5.0     Seven (a.k.a. Se7en) (1995)
4         1       50     5.0      Usual Suspects, The (1995)
..      ...      ...     ...                             ...
227       1     3744     4.0                    Shaft (2000)
228       1     3793     5.0                    X-Men (2000)
229       1     3809     4.0          What About Bob? (1991)
230       1     4006     4.0  Transformers: The Movie (1986)
231       1     5060     5.0    M*A*S*H (a.k.a. MASH) (1970)

[232 rows x 4 columns]

In [97]:
all_corr_df = user_movies.corr()
all_corr_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.330978,0.487109,1.000000,0.310971,0.106465,0.208402,0.968246,0.095913,-0.021409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.330978,1.000000,0.419564,NaN,0.562791,0.163510,0.430261,0.415227,0.277350,0.016626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.487109,0.419564,1.000000,NaN,0.602266,0.345069,0.554088,0.333333,0.458591,-0.050276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.000000,NaN,NaN,1.000000,0.654654,NaN,0.203653,NaN,NaN,0.870388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.310971,0.562791,0.602266,0.654654,1.000000,0.291302,0.609119,0.555556,0.319173,0.218263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
movie1 = all_corr_df[all_corr_df >= 0.9][1]
all_corr_df[all_corr_df >= 0.9]

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,0.968246,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
movie1.dropna()

movieId
1         1.000000
4         1.000000
8         0.968246
61        1.000000
102       0.970725
            ...
179817    1.000000
180031    0.904534
180985    0.981981
184253    1.000000
184471    0.944911
Name: 1, Length: 612, dtype: float64

In [100]:
#'Star Wars (1977)' in 'Star Wars (1977) abc'

In [101]:
for i in movies.title:
    if 'Star Wars' in i:
        print(i)

Star Wars: Episode IV - A New Hope (1977)
Star Wars: Episode V - The Empire Strikes Back (1980)
Star Wars: Episode VI - Return of the Jedi (1983)
Star Wars: Episode I - The Phantom Menace (1999)
Star Wars: Episode II - Attack of the Clones (2002)
Star Wars: Episode III - Revenge of the Sith (2005)
Star Wars: The Clone Wars (2008)
Empire of Dreams: The Story of the 'Star Wars' Trilogy (2004)
Star Wars: Episode VII - The Force Awakens (2015)
The Star Wars Holiday Special (1978)
Rogue One: A Star Wars Story (2016)
Star Wars: The Last Jedi (2017)
Solo: A Star Wars Story (2018)

In [102]:
#'Star Wars: Episode IV - A New Hope (1977)' in movies['title']

In [103]:
#movies['title'][movies['title']=='Star Wars: Episode IV - A New Hope (1977)']

In [104]:
movies.loc[224]

movieId                                          260
title      Star Wars: Episode IV - A New Hope (1977)
Name: 224, dtype: object

In [105]:
StarWarsRating = user_movies[224]
StarWarsRating

userId
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
      ...
606    4.0
607    NaN
608    NaN
609    NaN
610    NaN
Name: 224, Length: 610, dtype: float64

In [106]:
StarWarsRating[StarWarsRating >= 0].size

40

In [107]:
SimilarMovies = user_movies.corrwith(StarWarsRating)
SimilarMovies

c:\users\admin\pycharmprojects\pythonproject5\venv\lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\users\admin\pycharmprojects\pythonproject5\venv\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

movieId
1         0.206940
2        -0.251390
3        -0.408248
4         0.456435
5        -0.140068
            ...
193581         NaN
193583         NaN
193585         NaN
193587         NaN
193609         NaN
Length: 9724, dtype: float64

In [108]:
SimilarMovies2 = all_corr_df[224]
SimilarMovies2

movieId
1         0.206940
2        -0.251390
3        -0.408248
4         0.456435
5        -0.140068
            ...
193581         NaN
193583         NaN
193585         NaN
193587         NaN
193609         NaN
Name: 224, Length: 9724, dtype: float64

In [109]:
SimilarMovies = SimilarMovies.dropna()
SimilarMovies

movieId
1        0.206940
2       -0.251390
3       -0.408248
4        0.456435
5       -0.140068
           ...
91542   -1.000000
91658    1.000000
95105   -1.000000
95510    1.000000
96079   -1.000000
Length: 1993, dtype: float64

In [118]:
type(SimilarMovies)

pandas.core.frame.DataFrame

In [119]:
SimilarMovies = pd.DataFrame(SimilarMovies)
SimilarMovies

                0
movieId
1        0.206940
2       -0.251390
3       -0.408248
4        0.456435
5       -0.140068
...           ...
91542   -1.000000
91658    1.000000
95105   -1.000000
95510    1.000000
96079   -1.000000

[1993 rows x 1 columns]

In [120]:
SimilarMovies.columns

RangeIndex(start=0, stop=1, step=1)

In [121]:
SimilarMovies.sort_values(by=0, axis=0, ascending=False, inplace=True)
SimilarMovies

           0
movieId
3606     1.0
612      1.0
2906     1.0
2908     1.0
2334     1.0
...      ...
5379    -1.0
5420    -1.0
3503    -1.0
8781    -1.0
6341    -1.0

[1993 rows x 1 columns]

In [122]:
SimilarMovies.reset_index()

      movieId    0
0        3606  1.0
1         612  1.0
2        2906  1.0
3        2908  1.0
4        2334  1.0
...       ...  ...
1988     5379 -1.0
1989     5420 -1.0
1990     3503 -1.0
1991     8781 -1.0
1992     6341 -1.0

[1993 rows x 2 columns]

In [86]:
#movies.title[movies.movieId[movies.movieId==7327]]

7327    Star Wars: Episode IV - A New Hope (1977)
Name: title, dtype: object

In [123]:
movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [124]:
movies.loc[4320]

movieId                      6313
title      Sibling Rivalry (1990)
Name: 4320, dtype: object

In [168]:
SimilarMovies_full=pd.merge(SimilarMovies.reset_index(), movies)
SimilarMovies_full.rename(columns={0:'rating'},inplace=True)
SimilarMovies_full

      movieId  similarity                             title
0        3606         1.0                On the Town (1949)
1         612         1.0            Pallbearer, The (1996)
2        2906         1.0              Random Hearts (1999)
3        2908         1.0             Boys Don't Cry (1999)
4        2334         1.0                 Siege, The (1998)
...       ...         ...                               ...
1988     5379        -1.0              Believer, The (2001)
1989     5420        -1.0                Windtalkers (2002)
1990     3503        -1.0         Solaris (Solyaris) (1972)
1991     8781        -1.0  Manchurian Candidate, The (2004)
1992     6341        -1.0       Shape of Things, The (2003)

[1993 rows x 3 columns]

In [169]:
#movies['movieId'][movies['movieId'][movies['movieId']==6313].index]

In [170]:
#movies.title[4320]

In [171]:
movie_title = {movies.movieId[i]: movies.title[i] for i in movies.index}

In [172]:
movie_title

{1: 'Toy Story (1995)',
 2: 'Jumanji (1995)',
 3: 'Grumpier Old Men (1995)',
 4: 'Waiting to Exhale (1995)',
 5: 'Father of the Bride Part II (1995)',
 6: 'Heat (1995)',
 7: 'Sabrina (1995)',
 8: 'Tom and Huck (1995)',
 9: 'Sudden Death (1995)',
 10: 'GoldenEye (1995)',
 11: 'American President, The (1995)',
 12: 'Dracula: Dead and Loving It (1995)',
 13: 'Balto (1995)',
 14: 'Nixon (1995)',
 15: 'Cutthroat Island (1995)',
 16: 'Casino (1995)',
 17: 'Sense and Sensibility (1995)',
 18: 'Four Rooms (1995)',
 19: 'Ace Ventura: When Nature Calls (1995)',
 20: 'Money Train (1995)',
 21: 'Get Shorty (1995)',
 22: 'Copycat (1995)',
 23: 'Assassins (1995)',
 24: 'Powder (1995)',
 25: 'Leaving Las Vegas (1995)',
 26: 'Othello (1995)',
 27: 'Now and Then (1995)',
 28: 'Persuasion (1995)',
 29: 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 30: 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 31: 'Dangerous Minds (1995)',
 32: 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 34: 'Babe (1995)',
 36: 'Dead Man Walking (1995)',
 38: 'It Takes Two (1995)',
 39: 'Clueless (1995)',
 40: 'Cry, the Beloved Country (1995)',
 41: 'Richard III (1995)',
 42: 'Dead Presidents (1995)',
 43: 'Restoration (1995)',
 44: 'Mortal Kombat (1995)',
 45: 'To Die For (1995)',
 46: 'How to Make an American Quilt (1995)',
 47: 'Seven (a.k.a. Se7en) (1995)',
 48: 'Pocahontas (1995)',
 49: 'When Night Is Falling (1995)',
 50: 'Usual Suspects, The (1995)',
 52: 'Mighty Aphrodite (1995)',
 53: 'Lamerica (1994)',
 54: 'Big Green, The (1995)',
 55: 'Georgia (1995)',
 57: 'Home for the Holidays (1995)',
 58: 'Postman, The (Postino, Il) (1994)',
 60: 'Indian in the Cupboard, The (1995)',
 61: 'Eye for an Eye (1996)',
 62: "Mr. Holland's Opus (1995)",
 63: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 64: 'Two if by Sea (1996)',
 65: 'Bio-Dome (1996)',
 66: 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 68: 'French Twist (Gazon maudit) (1995)',
 69: 'Friday (1995)',
 70: 'From Dusk Till Dawn (1996)',
 71: 'Fair Game (1995)',
 72: 'Kicking and Screaming (1995)',
 73: 'Misérables, Les (1995)',
 74: 'Bed of Roses (1996)',
 75: 'Big Bully (1996)',
 76: 'Screamers (1995)',
 77: 'Nico Icon (1995)',
 78: 'Crossing Guard, The (1995)',
 79: 'Juror, The (1996)',
 80: 'White Balloon, The (Badkonake sefid) (1995)',
 81: "Things to Do in Denver When You're Dead (1995)",
 82: "Antonia's Line (Antonia) (1995)",
 83: 'Once Upon a Time... When We Were Colored (1995)',
 85: 'Angels and Insects (1995)',
 86: 'White Squall (1996)',
 87: 'Dunston Checks In (1996)',
 88: 'Black Sheep (1996)',
 89: 'Nick of Time (1995)',
 92: 'Mary Reilly (1996)',
 93: 'Vampire in Brooklyn (1995)',
 94: 'Beautiful Girls (1996)',
 95: 'Broken Arrow (1996)',
 96: 'In the Bleak Midwinter (1995)',
 97: 'Hate (Haine, La) (1995)',
 99: 'Heidi Fleiss: Hollywood Madam (1995)',
 100: 'City Hall (1996)',
 101: 'Bottle Rocket (1996)',
 102: 'Mr. Wrong (1996)',
 103: 'Unforgettable (1996)',
 104: 'Happy Gilmore (1996)',
 105: 'Bridges of Madison County, The (1995)',
 106: 'Nobody Loves Me (Keiner liebt mich) (1994)',
 107: 'Muppet Treasure Island (1996)',
 108: 'Catwalk (1996)',
 110: 'Braveheart (1995)',
 111: 'Taxi Driver (1976)',
 112: 'Rumble in the Bronx (Hont faan kui) (1995)',
 113: 'Before and After (1996)',
 116: 'Anne Frank Remembered (1995)',
 117: "Young Poisoner's Handbook, The (1995)",
 118: 'If Lucy Fell (1996)',
 119: 'Steal Big, Steal Little (1995)',
 121: 'Boys of St. Vincent, The (1992)',
 122: 'Boomerang (1992)',
 123: 'Chungking Express (Chung Hing sam lam) (1994)',
 125: 'Flirting With Disaster (1996)',
 126: 'NeverEnding Story III, The (1994)',
 128: "Jupiter's Wife (1994)",
 129: 'Pie in the Sky (1996)',
 132: 'Jade (1995)',
 135: 'Down Periscope (1996)',
 137: 'Man of the Year (1995)',
 140: 'Up Close and Personal (1996)',
 141: 'Birdcage, The (1996)',
 144: 'Brothers McMullen, The (1995)',
 145: 'Bad Boys (1995)',
 146: 'Amazing Panda Adventure, The (1995)',
 147: 'Basketball Diaries, The (1995)',
 148: 'Awfully Big Adventure, An (1995)',
 149: 'Amateur (1994)',
 150: 'Apollo 13 (1995)',
 151: 'Rob Roy (1995)',
 152: 'Addiction, The (1995)',
 153: 'Batman Forever (1995)',
 154: 'Beauty of the Day (Belle de jour) (1967)',
 155: 'Beyond Rangoon (1995)',
 156: 'Blue in the Face (1995)',
 157: 'Canadian Bacon (1995)',
 158: 'Casper (1995)',
 159: 'Clockers (1995)',
 160: 'Congo (1995)',
 161: 'Crimson Tide (1995)',
 162: 'Crumb (1994)',
 163: 'Desperado (1995)',
 164: 'Devil in a Blue Dress (1995)',
 165: 'Die Hard: With a Vengeance (1995)',
 166: 'Doom Generation, The (1995)',
 168: 'First Knight (1995)',
 169: 'Free Willy 2: The Adventure Home (1995)',
 170: 'Hackers (1995)',
 171: 'Jeffrey (1995)',
 172: 'Johnny Mnemonic (1995)',
 173: 'Judge Dredd (1995)',
 174: 'Jury Duty (1995)',
 175: 'Kids (1995)',
 176: 'Living in Oblivion (1995)',
 177: 'Lord of Illusions (1995)',
 178: 'Love & Human Remains (1993)',
 179: 'Mad Love (1995)',
 180: 'Mallrats (1995)',
 181: 'Mighty Morphin Power Rangers: The Movie (1995)',
 183: 'Mute Witness (1994)',
 184: 'Nadja (1994)',
 185: 'Net, The (1995)',
 186: 'Nine Months (1995)',
 187: 'Party Girl (1995)',
 188: 'Prophecy, The (1995)',
 189: 'Reckless (1995)',
 190: 'Safe (1995)',
 191: 'Scarlet Letter, The (1995)',
 193: 'Showgirls (1995)',
 194: 'Smoke (1995)',
 195: 'Something to Talk About (1995)',
 196: 'Species (1995)',
 198: 'Strange Days (1995)',
 199: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 201: 'Three Wishes (1995)',
 202: 'Total Eclipse (1995)',
 203: 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 204: 'Under Siege 2: Dark Territory (1995)',
 205: 'Unstrung Heroes (1995)',
 206: 'Unzipped (1995)',
 207: 'Walk in the Clouds, A (1995)',
 208: 'Waterworld (1995)',
 209: "White Man's Burden (1995)",
 210: 'Wild Bill (1995)',
 211: 'Browning Version, The (1994)',
 212: 'Bushwhacked (1995)',
 213: 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 214: 'Before the Rain (Pred dozhdot) (1994)',
 215: 'Before Sunrise (1995)',
 216: 'Billy Madison (1995)',
 217: 'Babysitter, The (1995)',
 218: 'Boys on the Side (1995)',
 219: 'Cure, The (1995)',
 220: 'Castle Freak (1995)',
 222: 'Circle of Friends (1995)',
 223: 'Clerks (1994)',
 224: 'Don Juan DeMarco (1995)',
 225: 'Disclosure (1994)',
 227: 'Drop Zone (1994)',
 228: 'Destiny Turns on the Radio (1995)',
 229: 'Death and the Maiden (1994)',
 230: 'Dolores Claiborne (1995)',
 231: 'Dumb & Dumber (Dumb and Dumber) (1994)',
 232: 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 233: 'Exotica (1994)',
 234: 'Exit to Eden (1994)',
 235: 'Ed Wood (1994)',
 236: 'French Kiss (1995)',
 237: 'Forget Paris (1995)',
 238: 'Far From Home: The Adventures of Yellow Dog (1995)',
 239: 'Goofy Movie, A (1995)',
 240: 'Hideaway (1995)',
 241: 'Fluke (1995)',
 242: 'Farinelli: il castrato (1994)',
 243: 'Gordy (1995)',
 246: 'Hoop Dreams (1994)',
 247: 'Heavenly Creatures (1994)',
 248: 'Houseguest (1994)',
 249: 'Immortal Beloved (1994)',
 250: 'Heavyweights (Heavy Weights) (1995)',
 251: 'Hunted, The (1995)',
 252: 'I.Q. (1994)',
 253: 'Interview with the Vampire: The Vampire Chronicles (1994)',
 254: 'Jefferson in Paris (1995)',
 255: 'Jerky Boys, The (1995)',
 256: 'Junior (1994)',
 257: 'Just Cause (1995)',
 258: "Kid in King Arthur's Court, A (1995)",
 259: 'Kiss of Death (1995)',
 260: 'Star Wars: Episode IV - A New Hope (1977)',
 261: 'Little Women (1994)',
 262: 'Little Princess, A (1995)',
 263: 'Ladybird Ladybird (1994)',
 265: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 266: 'Legends of the Fall (1994)',
 267: 'Major Payne (1995)',
 269: 'My Crazy Life (Mi vida loca) (1993)',
 270: 'Love Affair (1994)',
 271: 'Losing Isaiah (1995)',
 272: 'Madness of King George, The (1994)',
 273: "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 274: 'Man of the House (1995)',
 275: 'Mixed Nuts (1994)',
 276: 'Milk Money (1994)',
 277: 'Miracle on 34th Street (1994)',
 278: 'Miami Rhapsody (1995)',
 279: 'My Family (1995)',
 280: 'Murder in the First (1995)',
 281: "Nobody's Fool (1994)",
 282: 'Nell (1994)',
 283: 'New Jersey Drive (1995)',
 284: 'New York Cop (Nyû Yôku no koppu) (1993)',
 285: 'Beyond Bedlam (1993)',
 287: 'Nina Takes a Lover (1994)',
 288: 'Natural Born Killers (1994)',
 289: 'Only You (1994)',
 290: 'Once Were Warriors (1994)',
 291: 'Poison Ivy II (1996)',
 292: 'Outbreak (1995)',
 293: 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 294: 'Perez Family, The (1995)',
 295: "Pyromaniac's Love Story, A (1995)",
 296: 'Pulp Fiction (1994)',
 298: 'Pushing Hands (Tui shou) (1992)',
 299: 'Priest (1994)',
 300: 'Quiz Show (1994)',
 301: 'Picture Bride (Bijo photo) (1994)',
 302: 'Queen Margot (Reine Margot, La) (1994)',
 303: 'Quick and the Dead, The (1995)',
 304: 'Roommates (1995)',
 305: 'Ready to Wear (Pret-A-Porter) (1994)',
 306: 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 307: 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 308: 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 310: 'Rent-a-Kid (1995)',
 311: 'Relative Fear (1994)',
 312: 'Stuart Saves His Family (1995)',
 313: 'Swan Princess, The (1994)',
 314: 'Secret of Roan Inish, The (1994)',
 315: 'Specialist, The (1994)',
 316: 'Stargate (1994)',
 317: 'Santa Clause, The (1994)',
 318: 'Shawshank Redemption, The (1994)',
 319: 'Shallow Grave (1994)',
 320: 'Suture (1993)',
 321: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 322: 'Swimming with Sharks (1995)',
 324: 'Sum of Us, The (1994)',
 325: "National Lampoon's Senior Trip (1995)",
 326: 'To Live (Huozhe) (1994)',
 327: 'Tank Girl (1995)',
 328: 'Tales from the Crypt Presents: Demon Knight (1995)',
 329: 'Star Trek: Generations (1994)',
 330: 'Tales from the Hood (1995)',
 331: 'Tom & Viv (1994)',
 332: 'Village of the Damned (1995)',
 333: 'Tommy Boy (1995)',
 334: 'Vanya on 42nd Street (1994)',
 335: 'Underneath (1995)',
 336: 'Walking Dead, The (1995)',
 337: "What's Eating Gilbert Grape (1993)",
 338: 'Virtuosity (1995)',
 339: 'While You Were Sleeping (1995)',
 340: 'War, The (1994)',
 341: 'Double Happiness (1994)',
 342: "Muriel's Wedding (1994)",
 343: 'Baby-Sitters Club, The (1995)',
 344: 'Ace Ventura: Pet Detective (1994)',
 345: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 346: 'Backbeat (1993)',
 347: 'Bitter Moon (1992)',
 348: 'Bullets Over Broadway (1994)',
 349: 'Clear and Present Danger (1994)',
 350: 'Client, The (1994)',
 351: 'Corrina, Corrina (1994)',
 352: 'Crooklyn (1994)',
 353: 'Crow, The (1994)',
 354: 'Cobb (1994)',
 355: 'Flintstones, The (1994)',
 356: 'Forrest Gump (1994)',
 357: 'Four Weddings and a Funeral (1994)',
 358: 'Higher Learning (1995)',
 359: 'I Like It Like That (1994)',
 360: 'I Love Trouble (1994)',
 361: 'It Could Happen to You (1994)',
 362: 'Jungle Book, The (1994)',
 363: 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 364: 'Lion King, The (1994)',
 365: 'Little Buddha (1993)',
 366: "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 367: 'Mask, The (1994)',
 368: 'Maverick (1994)',
 369: 'Mrs. Parker and the Vicious Circle (1994)',
 370: 'Naked Gun 33 1/3: The Final Insult (1994)',
 371: 'Paper, The (1994)',
 372: 'Reality Bites (1994)',
 373: 'Red Rock West (1992)',
 374: 'Richie Rich (1994)',
 376: 'River Wild, The (1994)',
 377: 'Speed (1994)',
 378: 'Speechless (1994)',
 379: 'Timecop (1994)',
 380: 'True Lies (1994)',
 381: 'When a Man Loves a Woman (1994)',
 382: 'Wolf (1994)',
 383: 'Wyatt Earp (1994)',
 384: 'Bad Company (1995)',
 385: 'Man of No Importance, A (1994)',
 386: 'S.F.W. (1994)',
 387: 'Low Down Dirty Shame, A (1994)',
 388: 'Boys Life (1995)',
 389: 'Colonel Chabert, Le (1994)',
 390: 'Faster Pussycat! Kill! Kill! (1965)',
 391: "Jason's Lyric (1994)",
 393: 'Street Fighter (1994)',
 405: 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 406: 'Federal Hill (1994)',
 407: 'In the Mouth of Madness (1995)',
 408: '8 Seconds (1994)',
 409: 'Above the Rim (1994)',
 410: 'Addams Family Values (1993)',
 412: 'Age of Innocence, The (1993)',
 413: 'Airheads (1994)',
 414: 'Air Up There, The (1994)',
 415: 'Another Stakeout (1993)',
 416: 'Bad Girls (1994)',
 417: 'Barcelona (1994)',
 418: 'Being Human (1993)',
 419: 'Beverly Hillbillies, The (1993)',
 420: 'Beverly Hills Cop III (1994)',
 421: 'Black Beauty (1994)',
 422: 'Blink (1994)',
 423: 'Blown Away (1994)',
 424: 'Blue Chips (1994)',
 425: 'Blue Sky (1994)',
 426: 'Body Snatchers (1993)',
 427: 'Boxing Helena (1993)',
 428: 'Bronx Tale, A (1993)',
 429: 'Cabin Boy (1994)',
 430: 'Calendar Girl (1993)',
 431: "Carlito's Way (1993)",
 432: "City Slickers II: The Legend of Curly's Gold (1994)",
 433: 'Clean Slate (1994)',
 434: 'Cliffhanger (1993)',
 435: 'Coneheads (1993)',
 436: 'Color of Night (1994)',
 437: 'Cops and Robbersons (1994)',
 438: 'Cowboy Way, The (1994)',
 440: 'Dave (1993)',
 441: 'Dazed and Confused (1993)',
 442: 'Demolition Man (1993)',
 444: 'Even Cowgirls Get the Blues (1993)',
 445: 'Fatal Instinct (1993)',
 446: 'Farewell My Concubine (Ba wang bie ji) (1993)',
 448: 'Fearless (1993)',
 449: 'Fear of a Black Hat (1994)',
 450: 'With Honors (1994)',
 451: 'Flesh and Bone (1993)',
 452: "Widows' Peak (1994)",
 453: 'For Love or Money (1993)',
 454: 'Firm, The (1993)',
 455: 'Free Willy (1993)',
 456: 'Fresh (1994)',
 457: 'Fugitive, The (1993)',
 458: 'Geronimo: An American Legend (1993)',
 459: 'Getaway, The (1994)',
 460: 'Getting Even with Dad (1994)',
 461: 'Go Fish (1994)',
 464: 'Hard Target (1993)',
 466: 'Hot Shots! Part Deux (1993)',
 467: 'Live Nude Girls (1995)',
 468: 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 469: 'House of the Spirits, The (1993)',
 470: 'House Party 3 (1994)',
 471: 'Hudsucker Proxy, The (1994)',
 472: "I'll Do Anything (1994)",
 473: 'In the Army Now (1994)',
 474: 'In the Line of Fire (1993)',
 475: 'In the Name of the Father (1993)',
 476: 'Inkwell, The (1994)',
 477: "What's Love Got to Do with It? (1993)",
 478: 'Jimmy Hollywood (1994)',
 479: 'Judgment Night (1993)',
 480: 'Jurassic Park (1993)',
 481: 'Kalifornia (1993)',
 482: 'Killing Zoe (1994)',
 484: 'Lassie (1994)',
 485: 'Last Action Hero (1993)',
 486: 'Life with Mikey (1993)',
 487: 'Lightning Jack (1994)',
 488: 'M. Butterfly (1993)',
 489: 'Made in America (1993)',
 490: 'Malice (1993)',
 491: 'Man Without a Face, The (1993)',
 492: 'Manhattan Murder Mystery (1993)',
 493: 'Menace II Society (1993)',
 494: 'Executive Decision (1996)',
 495: 'In the Realm of the Senses (Ai no corrida) (1976)',
 496: 'What Happened Was... (1994)',
 497: 'Much Ado About Nothing (1993)',
 499: 'Mr. Wonderful (1993)',
 500: 'Mrs. Doubtfire (1993)',
 501: 'Naked (1993)',
 502: 'Next Karate Kid, The (1994)',
 504: 'No Escape (1994)',
 505: 'North (1994)',
 506: 'Orlando (1992)',
 507: 'Perfect World, A (1993)',
 508: 'Philadelphia (1993)',
 509: 'Piano, The (1993)',
 510: 'Poetic Justice (1993)',
 511: 'Program, The (1993)',
 512: 'Puppet Masters, The (1994)',
 513: 'Radioland Murders (1994)',
 514: 'Ref, The (1994)',
 515: 'Remains of the Day, The (1993)',
 516: 'Renaissance Man (1994)',
 517: 'Rising Sun (1993)',
 518: 'Road to Wellville, The (1994)',
 519: 'RoboCop 3 (1993)',
 520: 'Robin Hood: Men in Tights (1993)',
 521: 'Romeo Is Bleeding (1993)',
 522: 'Romper Stomper (1992)',
 523: 'Ruby in Paradise (1993)',
 524: 'Rudy (1993)',
 526: 'Savage Nights (Nuits fauves, Les) (1992)',
 527: "Schindler's List (1993)",
 528: 'Scout, The (1994)',
 529: 'Searching for Bobby Fischer (1993)',
 531: 'Secret Garden, The (1993)',
 532: 'Serial Mom (1994)',
 533: 'Shadow, The (1994)',
 534: 'Shadowlands (1993)',
 535: 'Short Cuts (1993)',
 536: 'Simple Twist of Fate, A (1994)',
 537: 'Sirens (1994)',
 538: 'Six Degrees of Separation (1993)',
 539: 'Sleepless in Seattle (1993)',
 540: 'Sliver (1993)',
 541: 'Blade Runner (1982)',
 542: 'Son in Law (1993)',
 543: 'So I Married an Axe Murderer (1993)',
 544: 'Striking Distance (1993)',
 546: 'Super Mario Bros. (1993)',
 547: 'Surviving the Game (1994)',
 548: 'Terminal Velocity (1994)',
 549: 'Thirty-Two Short Films About Glenn Gould (1993)',
 550: 'Threesome (1994)',
 551: 'Nightmare Before Christmas, The (1993)',
 552: 'Three Musketeers, The (1993)',
 553: 'Tombstone (1993)',
 555: 'True Romance (1993)',
 556: 'War Room, The (1993)',
 558: 'Pagemaster, The (1994)',
 562: 'Welcome to the Dollhouse (1995)',
 563: 'Germinal (1993)',
 564: 'Chasers (1994)',
 567: 'Kika (1993)',
 568: 'Bhaji on the Beach (1993)',
 569: 'Little Big League (1994)',
 573: 'Ciao, Professore! (Io speriamo che me la cavo) (1992)',
 574: 'Spanking the Monkey (1994)',
 575: 'Little Rascals, The (1994)',
 577: 'Andre (1994)',
 579: 'Escort, The (Scorta, La) (1993)',
 580: 'Princess Caraboo (1994)',
 581: 'Celluloid Closet, The (1995)',
 583: 'Dear Diary (Caro Diario) (1994)',
 585: 'Brady Bunch Movie, The (1995)',
 586: 'Home Alone (1990)',
 587: 'Ghost (1990)',
 588: 'Aladdin (1992)',
 589: 'Terminator 2: Judgment Day (1991)',
 590: 'Dances with Wolves (1990)',
 592: 'Batman (1989)',
 593: 'Silence of the Lambs, The (1991)',
 594: 'Snow White and the Seven Dwarfs (1937)',
 595: 'Beauty and the Beast (1991)',
 596: 'Pinocchio (1940)',
 597: 'Pretty Woman (1990)',
 599: 'Wild Bunch, The (1969)',
 600: 'Love and a .45 (1994)',
 602: 'Great Day in Harlem, A (1994)',
 605: 'One Fine Day (1996)',
 606: 'Candyman: Farewell to the Flesh (1995)',
 608: 'Fargo (1996)',
 609: 'Homeward Bound II: Lost in San Francisco (1996)',
 610: 'Heavy Metal (1981)',
 611: 'Hellraiser: Bloodline (1996)',
 612: 'Pallbearer, The (1996)',
 613: 'Jane Eyre (1996)',
 615: 'Bread and Chocolate (Pane e cioccolata) (1973)',
 616: 'Aristocats, The (1970)',
 617: 'Flower of My Secret, The (La flor de mi secreto) (1995)',
 618: 'Two Much (1995)',
 619: 'Ed (1996)',
 626: 'Thin Line Between Love and Hate, A (1996)',
 627: 'Last Supper, The (1995)',
 628: 'Primal Fear (1996)',
 631: 'All Dogs Go to Heaven 2 (1996)',
 632: 'Land and Freedom (Tierra y libertad) (1995)',
 633: 'Denise Calls Up (1995)',
 634: 'Theodore Rex (1995)',
 635: 'Family Thing, A (1996)',
 636: 'Frisk (1995)',
 637: 'Sgt. Bilko (1996)',
 638: 'Jack and Sarah (1995)',
 639: 'Girl 6 (1996)',
 640: 'Diabolique (1996)',
 645: 'Nelly & Monsieur Arnaud (1995)',
 647: 'Courage Under Fire (1996)',
 648: 'Mission: Impossible (1996)',
 649: 'Cold Fever (Á köldum klaka) (1995)',
 650: 'Moll Flanders (1996)',
 653: 'Dragonheart (1996)',
 656: 'Eddie (1996)',
 661: 'James and the Giant Peach (1996)',
 662: 'Fear (1996)',
 663: 'Kids in the Hall: Brain Candy (1996)',
 665: 'Underground (1995)',
 667: 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
 668: 'Song of the Little Road (Pather Panchali) (1955)',
 670: 'World of Apu, The (Apur Sansar) (1959)',
 671: 'Mystery Science Theater 3000: The Movie (1996)',
 673: 'Space Jam (1996)',
 674: 'Barbarella (1968)',
 678: 'Some Folks Call It a Sling Blade (1993)',
 679: 'Run of the Country, The (1995)',
 680: 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 685: "It's My Party (1996)",
 688: 'Operation Dumbo Drop (1995)',
 691: 'Mrs. Winterbourne (1996)',
 692: 'Solo (1996)',
 694: 'Substitute, The (1996)',
 695: 'True Crime (1996)',
 697: 'Feeling Minnesota (1996)',
 698: 'Delta of Venus (1995)',
 700: 'Angus (1995)',
 703: 'Boys (1996)',
 704: 'Quest, The (1996)',
 706: 'Sunset Park (1996)',
 707: 'Mulholland Falls (1996)',
 708: 'Truth About Cats & Dogs, The (1996)',
 709: 'Oliver & Company (1988)',
 710: 'Celtic Pride (1996)',
 711: 'Flipper (1996)',
 714: 'Dead Man (1995)',
 715: 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 718: 'Visitors, The (Visiteurs, Les) (1993)',
 719: 'Multiplicity (1996)',

In [173]:
rating_full

        userId  movieId  rating                             title
0            1        1     4.0                  Toy Story (1995)
1            5        1     4.0                  Toy Story (1995)
2            7        1     4.5                  Toy Story (1995)
3           15        1     2.5                  Toy Story (1995)
4           17        1     4.5                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

[100836 rows x 4 columns]

In [174]:
movieStat = rating_full.groupby('title').agg({'rating': [np.size, np.mean]})
movieStat

                                          rating
                                            size      mean
title
'71 (2014)                                     1  4.000000
'Hellboy': The Seeds of Creation (2004)        1  4.000000
'Round Midnight (1986)                         2  3.500000
'Salem's Lot (2004)                            1  5.000000
'Til There Was You (1997)                      2  4.000000
...                                          ...       ...
eXistenZ (1999)                               22  3.863636
xXx (2002)                                    24  2.770833
xXx: State of the Union (2005)                 5  2.000000
¡Three Amigos! (1986)                         26  3.134615
À nous la liberté (Freedom for Us) (1931)      1  1.000000

[9719 rows x 2 columns]

In [175]:
popularMovie = movieStat[('rating', 'size')] > 100
popularMovie

title
'71 (2014)                                   False
'Hellboy': The Seeds of Creation (2004)      False
'Round Midnight (1986)                       False
'Salem's Lot (2004)                          False
'Til There Was You (1997)                    False
                                             ...
eXistenZ (1999)                              False
xXx (2002)                                   False
xXx: State of the Union (2005)               False
¡Three Amigos! (1986)                        False
À nous la liberté (Freedom for Us) (1931)    False
Name: (rating, size), Length: 9719, dtype: bool

In [176]:
movieStat[popularMovie].sort_values(by=[('rating', 'size')],ascending=False)

                                 rating
                                   size      mean
title
Forrest Gump (1994)                 329  4.164134
Shawshank Redemption, The (1994)    317  4.429022
Pulp Fiction (1994)                 307  4.197068
Silence of the Lambs, The (1991)    279  4.161290
Matrix, The (1999)                  278  4.192446
...                                 ...       ...
Full Metal Jacket (1987)            102  4.098039
Heat (1995)                         102  3.946078
Cliffhanger (1993)                  101  3.034653
Outbreak (1995)                     101  3.425743
Firm, The (1993)                    101  3.534653

[134 rows x 2 columns]

In [177]:
#stat=SimilarMovies_full.groupby('title').agg({'rating':[np.size,np.mean]})
#stat

In [178]:
type(SimilarMovies)

pandas.core.frame.DataFrame

In [179]:
SimilarMovies.rename(columns={'rating':'similarity'},inplace=True)
SimilarMovies_full.index=SimilarMovies_full.title
SimilarMovies_full.drop('title',axis=1,inplace=True)
SimilarMovies_full

                                  movieId  similarity
title
On the Town (1949)                   3606         1.0
Pallbearer, The (1996)                612         1.0
Random Hearts (1999)                 2906         1.0
Boys Don't Cry (1999)                2908         1.0
Siege, The (1998)                    2334         1.0
...                                   ...         ...
Believer, The (2001)                 5379        -1.0
Windtalkers (2002)                   5420        -1.0
Solaris (Solyaris) (1972)            3503        -1.0
Manchurian Candidate, The (2004)     8781        -1.0
Shape of Things, The (2003)          6341        -1.0

[1993 rows x 2 columns]

In [180]:
final=movieStat[popularMovie].join(SimilarMovies_full)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_15348\1539156425.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  final=movieStat[popularMovie].join(SimilarMovies_full)

In [181]:
final

,"(rating, size)","(rating, mean)",movieId,similarity
title,,,,
2001: A Space Odyssey (1968),109,3.894495,924,0.070535
Ace Ventura: Pet Detective (1994),161,3.040373,344,0.300885
Aladdin (1992),183,3.792350,588,0.117892
Alien (1979),146,3.969178,1214,0.000000
Aliens (1986),126,3.964286,1200,0.199982
...,...,...,...,...
"Usual Suspects, The (1995)",204,4.237745,50,0.387613
WALL·E (2008),104,4.057692,60069,0.090909
Waterworld (1995),115,2.913043,208,-0.254476
Willy Wonka & the Chocolate Factory (1971),119,3.873950,1073,0.051075
X-Men (2000),133,3.699248,3793,-0.022542

In [183]:
final.columns

Index([('rating', 'size'), ('rating', 'mean'), 'movieId', 'similarity'], dtype='object')

In [186]:
final.sort_values(by='similarity',ascending=False)

,"(rating, size)","(rating, mean)",movieId,similarity
title,,,,
"Dark Knight, The (2008)",149,4.238255,58559,1.000000
E.T. the Extra-Terrestrial (1982),122,3.766393,1097,0.710047
"Bourne Identity, The (2002)",112,3.816964,5418,0.677209
"Truman Show, The (1998)",125,3.812000,1682,0.650202
"Beautiful Mind, A (2001)",123,4.000000,4995,0.611577
...,...,...,...,...
Mrs. Doubtfire (1993),144,3.388889,500,-0.347637
Mission: Impossible (1996),162,3.537037,648,-0.391017
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001),107,3.761682,4896,-0.417365
"Shining, The (1980)",109,4.082569,1258,-0.485643
Up (2009),105,4.004762,68954,-1.000000