In [1]:
import _sqlite3 as sql

In [6]:
# con = sql.connect("D:\\api-database\\first_train\\firsttrain.db")

In [2]:
from _sqlite3 import Error

In [3]:
"""def sql_connection():
    try:
        con = sql.connect(':memory:')
        print(con)
        print('connection established')
    except Error:
        print(Error)
    finally:
        con.close()
        print('con close')"""

"def sql_connection():\n    try:\n        con = sql.connect(':memory:')\n        print(con)\n        print('connection established')\n    except Error:\n        print(Error)\n    finally:\n        con.close()\n        print('con close')"

In [4]:
#sql_connection()

In [5]:
#con.close()

In [6]:
try:
    con=sql.connect("D:\\api-database\\first_train\\firsttrain.db")
    cur=con.cursor()
    print('done')
except Error:
    print(Error)

done

In [7]:
cur

cur.execute("sql command")
con.commit()

In [8]:
con

In [9]:
cur.execute("CREATE TABLE employees(id integer PRIMARY KEY,name TEXT,salary REAL,department TEXT,position TEXT,hiredate TEXT )")
con.commit()

OperationalError: table employees already exists

In [10]:
cur.execute("CREATE TABLE programer(id integer PRIMARY KEY,name TEXT,salary REAL,department TEXT,position TEXT,hiredate TEXT )")
con.commit()

OperationalError: table programer already exists

In [11]:
cur.execute("CREATE TABLE IF NOT EXISTS employees(id integer PRIMARY KEY,name TEXT,salary REAL,department TEXT,position TEXT,hiredate TEXT )")
con.commit()

In [12]:
cur.execute("CREATE TABLE IF NOT EXISTS programer(id integer PRIMARY KEY,name TEXT,salary REAL,department TEXT,position TEXT,hiredate TEXT )")
con.commit()

In [14]:
cur.execute("INSERT INTO employees  VALUES(1,'john',7000,'HR','manager','27-1-2020')")
con.commit()

In [16]:
cur.execute("INSERT INTO employees  VALUES(2,'ALI',6000,'HR','admin','12-11-2011')")
con.commit()

In [17]:
cur.execute("INSERT INTO employees  VALUES(3,'hamid',9500,'IT','Tech','12-11-2011')")
con.commit()

In [18]:
cur.execute("UPDATE employees SET name='yusof' where id=1")
con.commit()

In [19]:
cur.execute("UPDATE employees SET salary=7500 where id=2")
con.commit()

In [21]:
cur.execute("SELECT * FROM employees")
data=cur.fetchall()
data

[(1, 'yusof', 7000.0, 'HR', 'manager', '27-1-2020'),
 (2, 'ALI', 7500.0, 'HR', 'admin', '12-11-2011'),
 (3, 'hamid', 9500.0, 'IT', 'Tech', '12-11-2011')]

In [22]:
for i in data:
    print(i)

(1, 'yusof', 7000.0, 'HR', 'manager', '27-1-2020')
(2, 'ALI', 7500.0, 'HR', 'admin', '12-11-2011')
(3, 'hamid', 9500.0, 'IT', 'Tech', '12-11-2011')

In [24]:
cur.execute("SELECT * FROM employees where salary<7500")
cur.fetchall()

[(1, 'yusof', 7000.0, 'HR', 'manager', '27-1-2020')]

In [25]:
cur.execute("SELECT * FROM employees where salary<7500")
cur.fetchone()

(1, 'yusof', 7000.0, 'HR', 'manager', '27-1-2020')

In [28]:
cur.execute("CREATE TABLE IF NOT EXISTS project(id integer PRIMARY KEY,name TEXT)")

In [29]:
data=[(1,'hamid'),(2,'bahram'),(3,'ahmad'),(4,'yousof')]

In [31]:
cur.executemany("INSERT INTO project VALUES(?,?)",data )
con.commit()