In [1]:
import numpy as np
import pandas as pd
import finpy_tse as tse
import mplfinance as mplf
import scipy.stats as stt
import matplotlib.pyplot as plt

In [2]:
symbol=tse.Build_Market_StockList(bourse=True,farabourse=True,payeh=False)
symbol.Name=symbol.index
symbol

Progress : 100 % , Done in 21 seconds!
Save path does not exist, you can handle saving this data by returned dataframe as Excel using ".to_excel()", if you will!
Save path does not exist, you can handle saving this data by returned dataframe as CSV using ".to_csv()", if you will!

,Name,Market,Panel,Sector,Sub-Sector,Comment,Name(EN),Company Code(12),Ticker(4),Ticker(5),Ticker(12),Sector Code,Sub-Sector Code,Panel Code
Ticker,,,,,,,,,,,,,,
آباد,آباد,بورس,بازار دوم بورس,هتل و رستوران,هتل ها ، اردو و دیگر تدارکات اقامت کوتاه,-,Abadgaran,IRO1ABAD0002,ABAD,ABAD1,IRO1ABAD0001,55,5510,5
آبادا,آبادا,بورس,بازار دوم بورس,عرضه برق، گاز، بخاروآب گرم,تولید انتقال و توزیع نیروی برق,-,Abadan PG,IRO1NBAB0009,NBAB,NBAB1,IRO1NBAB0001,40,4010,5
آپ,آپ,بورس,بازار اول (تابلوی فرعی) بورس,رایانه و فعالیت های وابسته به آن,مشاوره و تهیه نرم افزار,-,Asan Pardakht Pers,IRO1APPE0008,APPE,APPE1,IRO1APPE0001,72,7220,3
آسیا,آسیا,بورس,بازار اول (تابلوی اصلی) بورس,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,بیمه غیرزندگی,-,Asia Bime,IRO1ASIA0008,ASIA,ASIA1,IRO1ASIA0001,66,6603,1
اپال,اپال,بورس,بازار دوم بورس,استخراج کانه های فلزی,استخراج آهن,-,Opal Kani Pars,IRO1OPAL0000,OPAL,OPAL1,IRO1OPAL0001,13,1310,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ولشرق,ولشرق,فرابورس,بازار اول فرابورس,سایر واسطه گریهای مالی,لیزینگ مالی,-,Iran & Shargh Lsg.,IRO3ISLZ0004,ISLZ,ISLZ1,IRO3ISLZ0001,58,5891,1
ومعلم,ومعلم,فرابورس,بازار دوم فرابورس,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,بیمه غیرزندگی,-,Moallem Insurance,IRO3MOIZ0007,MOIZ,MOIZ1,IRO3MOIZ0001,66,6603,3
وملل,وملل,فرابورس,بازار دوم فرابورس,بانکها و موسسات اعتباری,سایر واسطه های پولی,-,Melal Credit Inst.,IRO3ASKZ0003,ASKZ,ASKZ1,IRO3ASKZ0001,57,5719,3
وهامون,وهامون,فرابورس,بازار اول فرابورس,سرمایه گذاریها,سایر واسطه های مالی,-,Hamoon Saba Inv.,IRO3HAIZ0000,HAIZ,HAIZ1,IRO3HAIZ0001,56,5699,1
وهور,وهور,فرابورس,بازار دوم فرابورس,عرضه برق، گاز، بخاروآب گرم,تولید انتقال و توزیع نیروی برق,-,Omid Taban Hoor,IRO3HORZ0003,HORZ,HORZ1,IRO3HORZ0001,40,4010,3

In [3]:
symbol.drop(['Market','Panel','Sector',"Sub-Sector",'Comment','Company Code(12)','Ticker(4)','Ticker(5)','Ticker(12)','Sector Code','Sub-Sector Code','Panel Code'],axis=1,inplace=True)
symbol

          Name            Name(EN)
Ticker
آباد      آباد           Abadgaran
آبادا    آبادا           Abadan PG
آپ          آپ  Asan Pardakht Pers
آسیا      آسیا           Asia Bime
اپال      اپال      Opal Kani Pars
...        ...                 ...
ولشرق    ولشرق  Iran & Shargh Lsg.
ومعلم    ومعلم   Moallem Insurance
وملل      وملل  Melal Credit Inst.
وهامون  وهامون    Hamoon Saba Inv.
وهور      وهور     Omid Taban Hoor

[554 rows x 2 columns]

In [4]:
symbol.reset_index(inplace=True)
symbol

     Ticker    Name            Name(EN)
0      آباد    آباد           Abadgaran
1     آبادا   آبادا           Abadan PG
2        آپ      آپ  Asan Pardakht Pers
3      آسیا    آسیا           Asia Bime
4      اپال    اپال      Opal Kani Pars
..      ...     ...                 ...
549   ولشرق   ولشرق  Iran & Shargh Lsg.
550   ومعلم   ومعلم   Moallem Insurance
551    وملل    وملل  Melal Credit Inst.
552  وهامون  وهامون    Hamoon Saba Inv.
553    وهور    وهور     Omid Taban Hoor

[554 rows x 3 columns]

In [5]:
symbol.drop('Ticker',axis=1,inplace=True)
symbol

       Name            Name(EN)
0      آباد           Abadgaran
1     آبادا           Abadan PG
2        آپ  Asan Pardakht Pers
3      آسیا           Asia Bime
4      اپال      Opal Kani Pars
..      ...                 ...
549   ولشرق  Iran & Shargh Lsg.
550   ومعلم   Moallem Insurance
551    وملل  Melal Credit Inst.
552  وهامون    Hamoon Saba Inv.
553    وهور     Omid Taban Hoor

[554 rows x 2 columns]

In [6]:
symbol.to_csv('F:\\my project\\dataset\\tse\\symbols.csv')