In [1]:
import numpy as np
import pandas as pd
import finpy_tse as tse
import mplfinance as mplf
import scipy.stats as stt
import matplotlib.pyplot as plt

In [61]:
usdPirr=tse.Get_USD_RIAL(ignore_date=True)
usdPirr

              Open    High     Low   Close
J-Date
1390-09-06   13700   13700   13700   13700
1390-09-07   13440   13440   13440   13440
1390-09-08   13350   13350   13350   13350
1390-09-09   13400   13400   13400   13400
1390-09-10   13500   13500   13500   13500
...            ...     ...     ...     ...
1401-10-04  395670  399000  393270  395650
1401-10-05  395590  405790  390090  397210
1401-10-07  401040  425060  397830  403000
1401-10-08  418960  418960  418960  418960
1401-10-08  413630  417140  400560  416150

[3193 rows x 4 columns]

In [4]:
skkhskl_df=tse.Get_CWI_History(ignore_date=True)
skkhskl_df

                 Open       High        Low      Close  Adj Close       Volume
J-Date
1387-09-16     9249.0     9249.0     9168.0     9178.0     9178.3      8539624
1387-09-17     9178.0     9178.0     9130.0     9130.0     9130.5     11752353
1387-09-18     9103.0     9103.0     9080.0     9089.0     9089.2     15299115
1387-09-20     9072.0     9072.0     9024.0     9024.0     9023.7     15689653
1387-09-23     8973.0     8973.0     8973.0     8973.0     8973.3     31428174
...               ...        ...        ...        ...        ...          ...
1401-09-30  1492600.0  1496370.0  1492600.0  1496201.0  1496200.8   6185140338
1401-10-03  1500750.0  1538000.0  1500750.0  1538003.0  1538003.2  10103385881
1401-10-04  1547140.0  1563560.0  1547140.0  1563567.0  1563567.4  10776995540
1401-10-05  1566820.0  1576410.0  1563160.0  1576397.0  1576396.8   9446689906
1401-10-07  1588820.0  1647310.0  1588820.0  1647314.0  1647314.5  15175183890

[3390 rows x 6 columns]

In [5]:
#s1_df=tse.Get_Price_History(stock='فزر',ignore_date=True,double_date=True)
#s1_df

In [6]:
#s1_df.index=s1_df.Date

In [7]:
#s1_df

In [8]:
#mplf.plot(s1_df[:],type='candle')

In [9]:
symb=tse.Build_Market_StockList(bourse=True,farabourse=True,payeh=False)
symb

Progress : 100 % , Done in 31 seconds!
Save path does not exist, you can handle saving this data by returned dataframe as Excel using ".to_excel()", if you will!
Save path does not exist, you can handle saving this data by returned dataframe as CSV using ".to_csv()", if you will!

,Name,Market,Panel,Sector,Sub-Sector,Comment,Name(EN),Company Code(12),Ticker(4),Ticker(5),Ticker(12),Sector Code,Sub-Sector Code,Panel Code
Ticker,,,,,,,,,,,,,,
آباد,توریستی ورفاهی آبادگران ایران,بورس,بازار دوم بورس,هتل و رستوران,هتل ها ، اردو و دیگر تدارکات اقامت کوتاه,-,Abadgaran,IRO1ABAD0002,ABAD,ABAD1,IRO1ABAD0001,55,5510,5
آبادا,تولید نیروی برق آبادان,بورس,بازار دوم بورس,عرضه برق، گاز، بخاروآب گرم,تولید انتقال و توزیع نیروی برق,-,Abadan PG,IRO1NBAB0009,NBAB,NBAB1,IRO1NBAB0001,40,4010,5
آپ,آسان پرداخت پرشین,بورس,بازار دوم بورس,رایانه و فعالیت های وابسته به آن,مشاوره و تهیه نرم افزار,-,Asan Pardakht Pers,IRO1APPE0008,APPE,APPE1,IRO1APPE0001,72,7220,5
آسیا,بیمه آسیا,بورس,بازار اول (تابلوی اصلی) بورس,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,بیمه غیرزندگی,-,Asia Bime,IRO1ASIA0008,ASIA,ASIA1,IRO1ASIA0001,66,6603,1
اپال,فرآوری معدنی اپال کانی پارس,بورس,بازار دوم بورس,استخراج کانه های فلزی,استخراج آهن,-,Opal Kani Pars,IRO1OPAL0000,OPAL,OPAL1,IRO1OPAL0001,13,1310,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ومعلم,بیمه معلم,فرابورس,بازار دوم فرابورس,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,بیمه غیرزندگی,-,Moallem Insurance,IRO3MOIZ0007,MOIZ,MOIZ1,IRO3MOIZ0001,66,6603,3
وملل,اعتباری ملل,فرابورس,بازار دوم فرابورس,بانکها و موسسات اعتباری,سایر واسطه های پولی,-,Melal Credit Inst.,IRO3ASKZ0003,ASKZ,ASKZ1,IRO3ASKZ0001,57,5719,3
ومهان,گروه توسعه مالی مهر آیندگان,فرابورس,بازار دوم فرابورس,سرمایه گذاریها,سایر واسطه های مالی,-,Mehr Ayandegan,IRO3MEAZ0007,MEAZ,MEAZ1,IRO3MEAZ0001,56,5699,3
وهامون,سرمایه گذاری هامون صبا,فرابورس,بازار اول فرابورس,سرمایه گذاریها,سایر واسطه های مالی,-,Hamoon Saba Inv.,IRO3HAIZ0000,HAIZ,HAIZ1,IRO3HAIZ0001,56,5699,1
وهور,مدیریت انرژی امید تابان هور,فرابورس,بازار دوم فرابورس,عرضه برق، گاز، بخاروآب گرم,تولید انتقال و توزیع نیروی برق,-,Omid Taban Hoor,IRO3HORZ0003,HORZ,HORZ1,IRO3HORZ0001,40,4010,3

In [10]:
symbols=symb.index

In [11]:
symb['Ticker(4)'][5]

'ETKA'

In [12]:
symbols_df=pd.DataFrame(symbols)
symbols_df['Eng_name']=''
for i in symbols_df.index:
    symbols_df['Eng_name'][i]=symb['Name(EN)'][i].replace(' ','_')
symbols_df

     Ticker            Eng_name
0      آباد           Abadgaran
1     آبادا           Abadan_PG
2        آپ  Asan_Pardakht_Pers
3      آسیا           Asia_Bime
4      اپال      Opal_Kani_Pars
..      ...                 ...
536   ومعلم   Moallem_Insurance
537    وملل  Melal_Credit_Inst.
538   ومهان      Mehr_Ayandegan
539  وهامون    Hamoon_Saba_Inv.
540    وهور     Omid_Taban_Hoor

[541 rows x 2 columns]

In [13]:
symbols_df.to_csv('F:\\my project\\dataset\\tse\\symbols.csv')

In [ ]:
from tqdm import tqdm
from time import sleep

In [ ]:
for i in tqdm(range(100)):
    sleep(0.1)

In [ ]:
#str(s1_df.index[0])[:10].replace('-','')

In [ ]:
#for i in s1_df.index:
#    print(str(s1_df['Date'][i])[:10].replace('-',''))

In [ ]:
#s1_df

In [ ]:
#s1_df.drop(['Date','Final','Value','No','Ticker','Name','Market','Date2'],axis=1,inplace=True)
#s1_df

In [ ]:
#s1_df.to_csv('C:\\Users\\ADMIN\\Desktop\\ex.csv')

In [ ]:
#path='C:\\Users\\ADMIN\\AppData\\Roaming\\MetaQuotes\\Terminal\\2506E8E7E4116548D478CE2C3598FAB1\\MQL5\\Files\\camid-D1.prn'
#ex_df=pd.read_csv(path)
#ex_df

In [ ]:
for i in range(100):
    print('.',end='')
    sleep(0.1)

In [ ]:
#name=symbols_df.Ticker[10]
#name

In [ ]:
#name_df=tse.Get_Price_History(name,ignore_date=True,double_date=True)
#name_df

In [ ]:
#name_df.drop(['Final','Value','No','Ticker','Name','Market'],axis=1,inplace=True)
#name_df

In [ ]:
#name_df['Date_']=''

In [ ]:

"""for j in name_df.index:
    #name_df.loc[j]['Date_']=str(name_df['Date'][j])[:10].replace('-','')
    name_df['Date_'][j]=str(name_df['Date'][j])[:10].replace('-','')
name_df"""

In [ ]:
#name_df.index=name_df.Date_
#name_df.drop(['Date','Date_'],axis=1,inplace=True)

In [ ]:
#name_df

In [ ]:
'''for i in symbols_df.index:
    print(i,' ',symbols_df.Ticker[i],end='')
    stock_df=tse.Get_Price_History(symbols_df.Ticker[i],ignore_date=True,double_date=True)
    stock_df['<DTYYYYMMDD>']=''
    for j in stock_df.index:
        stock_df['<DTYYYYMMDD>'][j]=str(stock_df['Date'][j])[:10].replace('-','')
    stock_df.index=stock_df['<DTYYYYMMDD>']
    stock_df.rename(columns={'Open':'<OPEN>','High':'<HIGH>','Low':'<LOW>','Close':'<CLOSE>','Volume':'<VOL>'},inplace=True)
    stock_df.drop(['Date','Final','Value','No','Ticker','Name','Market','<DTYYYYMMDD>'],axis=1,inplace=True)
    path='C:\\Users\\ADMIN\\Desktop\\tse_data\\'+symbols_df.Eng_name[i].replace('*','')+'.prn'
    stock_df.to_csv(path)'''

In [16]:
fzr_df2=tse.Get_Price_History('فزر',ignore_date=True,double_date=True)
fzr_df2

AttributeError: Can only use .dt accessor with datetimelike values

In [19]:
fzr_df2

NameError: name 'fzr_df2' is not defined

In [ ]:
for j in fzr_df.index:
    fzr_df['Date'][j]=str(fzr_df['Date'][j])[:10].replace('-','')
fzr_df

In [ ]:
for i in symbols_df.Ticker:
    name=symbols_df.Ticker([i])
    print(name)
    name_df=tse.Get_Price_History(name,ignore_date=True,double_date=True)