In [1]:
import numpy as np
import pandas as pd

In [11]:
df=pd.read_excel('F:\my project\dataset\\API_NY.GDP.MKTP.CN_DS2_en_excel_v2_70.xls',header=3)

In [12]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.882851e+09,4.995621e+09,5.303604e+09,5.340707e+09,5.535448e+09,5.864370e+09,6.078480e+09,4.580442e+09,5.554700e+09,6.345027e+09
1,Africa Eastern and Southern,AFE,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,GDP (current LCU),NY.GDP.MKTP.CN,2.420000e+10,2.470000e+10,2.460000e+10,3.380000e+10,3.600000e+10,4.530000e+10,...,1.138810e+12,1.176469e+12,1.222756e+12,1.222917e+12,1.285460e+12,1.327690e+12,1.469596e+12,1.534966e+12,1.251172e+12,NaN
3,Africa Western and Central,AFW,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.319500e+13,1.432386e+13,1.395029e+13,1.654956e+13,2.026230e+13,2.562774e+13,3.033043e+13,3.170077e+13,4.453594e+13,5.337515e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.071332e+09,5.325095e+09,5.674423e+09,6.037271e+09,6.356456e+09,6.671521e+09,7.056172e+09,6.771602e+09,7.957875e+09,8.936177e+09
262,"Yemen, Rep.",YEM,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.684830e+12,9.289391e+12,9.797603e+12,8.891000e+12,1.000600e+13,1.157873e+13,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current LCU),NY.GDP.MKTP.CN,6.249000e+09,6.590000e+09,7.010000e+09,7.753000e+09,8.540000e+09,9.335000e+09,...,3.868630e+12,4.133873e+12,4.420793e+12,4.759555e+12,5.078190e+12,5.363190e+12,5.625207e+12,5.567974e+12,6.208786e+12,6.628550e+12
264,Zambia,ZMB,GDP (current LCU),NY.GDP.MKTP.CN,4.991000e+05,4.874000e+05,4.852000e+05,5.031000e+05,5.876000e+05,7.580000e+05,...,1.513310e+11,1.670530e+11,1.833810e+11,2.160980e+11,2.462520e+11,2.751745e+11,3.004487e+11,3.322232e+11,4.423368e+11,4.939643e+11
265,Zimbabwe,ZWE,GDP (current LCU),NY.GDP.MKTP.CN,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.204090e+10,6.961349e+10,2.121744e+11,1.378795e+12,3.189937e+12,1.238844e+13

In [16]:
ir=df.loc[112,:]

In [26]:
ir['1979':]

1979      6370367554544.810547
1980      6753979874640.139648
1981      8042658501438.049805
1982     10636624378827.400391
1983     13639419881495.900391
1984          14913555913591.0
1985     15808050375669.099609
1986     16006188708352.898438
1987     19419388509226.402344
1988     21900607581595.601562
1989     27232178019077.300781
1990     37986542436154.796875
1991          53785438612000.0
1992          71861214730000.0
1993         106133132680000.0
1994    139731641979999.984375
1995         197370155100000.0
1996         270427231010000.0
1997         316638314730000.0
1998         353547784240000.0
1999         474975733770000.0
2000         628070077410000.0
2001         738307447970000.0
2002        1023613009500000.0
2003        1258128741600000.0
2004        1637032106700000.0
2005        2029907660500000.0
2006        2442212113200000.0
2007        3247304255200000.0
2008        3887723271000000.0
2009        4107466221900000.0
2010        5035812289000000.0
2011        6895999706412120.0
2012        7895676801943380.0
2013       10634997796116900.0
2014       12254707585081400.0
2015       12103890086571700.0
2016       14408890814124600.0
2017       16736418990186600.0
2018       21627069968799700.0
2019       27364013247019400.0
2020       40791376857952800.0
2021       66774502840584704.0
2022      104350049951473008.0
Name: 112, dtype: object

In [28]:
ir['1979':].to_excel('F:\my project\dataset\\ir_gdp_1979.xlsx')