In [89]:
import pandas as pd
import numpy as np

In [90]:
my_series = pd.Series([1, 2, 3, 4, 5], index=['row1', 'row2', 'row3', 'row4', 'row5'])

In [91]:
my_series

row1    1
row2    2
row3    3
row4    4
row5    5
dtype: int64

In [92]:
my_series.values

array([1, 2, 3, 4, 5], dtype=int64)

In [93]:
my_series.index

Index(['row1', 'row2', 'row3', 'row4', 'row5'], dtype='object')

In [94]:
my_series.row2

2

In [95]:
for _ in my_series.index:
    print(my_series[_])

1
2
3
4
5

In [96]:
mask = my_series > 2
mask

row1    False
row2    False
row3     True
row4     True
row5     True
dtype: bool

In [97]:
my_series[mask]

row3    3
row4    4
row5    5
dtype: int64

my_series.rename({'row1': 'a', 'row2': 'b', 'row3': 'c', 'row4': 'd', 'row5': 'e'})
my_series.index

In [98]:
my_array = np.array([[1, 5, 9, 13], [2, 6, 10, 14], [3, 7, 11, 15], [4, 8, 12, 16]])

In [99]:
my_dataframe = pd.DataFrame(my_array, index=['row1', 'row2', 'row3', 'row4'],
                            columns=['col1', 'col2', 'col3', 'col4'])
my_dataframe

      col1  col2  col3  col4
row1     1     5     9    13
row2     2     6    10    14
row3     3     7    11    15
row4     4     8    12    16

In [100]:
my_dataframe['col1']

row1    1
row2    2
row3    3
row4    4
Name: col1, dtype: int32

In [101]:
my_dict = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8], 'col3': [9, 10, 11, 12]}
my_dataframe2 = pd.DataFrame(my_dict, index=['row1', 'row2', 'row3', 'row4'])
my_dataframe2

      col1  col2  col3
row1     1     5     9
row2     2     6    10
row3     3     7    11
row4     4     8    12

In [102]:
my_dataframe2.index

Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

In [103]:
my_dataframe2.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [104]:
my_dataframe2.values

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]], dtype=int64)

In [105]:
my_dataframe.loc['row1']['col2'] # my_dataframe['col2']['row1']

5

In [106]:
my_dataframe.iloc[0][1]

5

In [107]:
my_dataframe2['col4'] = [4, 6, 9, 2]
my_dataframe2

      col1  col2  col3  col4
row1     1     5     9     4
row2     2     6    10     6
row3     3     7    11     9
row4     4     8    12     2

In [108]:
my_dataframe2.loc[['row1', 'row3'], 'col2'] = 0

In [109]:
my_dataframe2.index

Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

In [110]:
my_dataframe2

      col1  col2  col3  col4
row1     1     0     9     4
row2     2     6    10     6
row3     3     0    11     9
row4     4     8    12     2

In [111]:
myDf2 = my_dataframe2.reset_index(drop=True)
myDf2

   col1  col2  col3  col4
0     1     0     9     4
1     2     6    10     6
2     3     0    11     9
3     4     8    12     2

In [112]:
myDf2.drop('col1', axis=1)

   col2  col3  col4
0     0     9     4
1     6    10     6
2     0    11     9
3     8    12     2

In [113]:
myDf2.rename(columns={'col4': 'c4'}, inplace=True)
myDf2

   col1  col2  col3  c4
0     1     0     9   4
1     2     6    10   6
2     3     0    11   9
3     4     8    12   2

In [114]:
myDf2 = myDf2.replace(0, 7)
myDf2

   col1  col2  col3  c4
0     1     7     9   4
1     2     6    10   6
2     3     7    11   9
3     4     8    12   2

In [115]:
myDf2.col1 = [float(_) for _ in myDf2.col1]

In [116]:
myDf2

   col1  col2  col3  c4
0   1.0     7     9   4
1   2.0     6    10   6
2   3.0     7    11   9
3   4.0     8    12   2

In [117]:
myDf2['col2'] = myDf2['col2'].apply(lambda x: '{:.2f}'.format(x))
myDf2

   col1  col2  col3  c4
0   1.0  7.00     9   4
1   2.0  6.00    10   6
2   3.0  7.00    11   9
3   4.0  8.00    12   2

In [118]:
myDf2.sort_index(axis=1, ascending=False)

   col3  col2  col1  c4
0     9  7.00   1.0   4
1    10  6.00   2.0   6
2    11  7.00   3.0   9
3    12  8.00   4.0   2

In [119]:
myDf2.head(2)

   col1  col2  col3  c4
0   1.0  7.00     9   4
1   2.0  6.00    10   6

In [120]:
myDf2.tail(2)

   col1  col2  col3  c4
2   3.0  7.00    11   9
3   4.0  8.00    12   2

pd.read_csv(PATH)

In [121]:
path = "C:\\Users\\ADMIN\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075\\MQL5\\Files\\BTCUSD-D1.prn"
BTC_DATA = pd.read_csv(path)
BTC_DATA.head(5)

   <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
0      20150804       0   284.0   286.0  281.0    285.0     10
1      20150805       0   285.0   286.0  281.0    283.0      9
2      20150806       0   282.0   284.0  278.0    279.0     10
3      20150807       0   279.0   281.0  276.0    280.0     10
4      20150809       0   265.0   266.0  262.0    263.0      7

In [122]:
BTC_DATA['<OPEN>'].tail(5)
ind = BTC_DATA['<DTYYYYMMDD>']
ind
ind[0]

20150804

In [123]:
BTC_DATA.loc[0]

<DTYYYYMMDD>    20150804.0
<TIME>                 0.0
<OPEN>               284.0
<HIGH>               286.0
<LOW>                281.0
<CLOSE>              285.0
<VOL>                 10.0
Name: 0, dtype: float64

In [124]:
BTC_DATA.loc[BTC_DATA.shape[0] - 1][:]

<DTYYYYMMDD>    20220803.0
<TIME>                 0.0
<OPEN>             23069.0
<HIGH>             23116.0
<LOW>              23003.0
<CLOSE>            23085.0
<VOL>               3921.0
Name: 2262, dtype: float64

In [141]:

def change_index(dataframe, ind):
    index = dataframe.index
    dict_ind = {}
    for i in index:
        dict_ind[i] = ind[i]
    return dict_ind




def change_data_frame(dataframe,ind):
    second_dt=pd.DataFrame(index=ind)
    for i in dataframe.columns:
        second_dt[i]=dataframe[i]
        print(dataframe[i])
    return second_dt

0       20150804
1       20150805
2       20150806
3       20150807
4       20150809
          ...
2258    20220730
2259    20220731
2260    20220801
2261    20220802
2262    20220803
Name: <DTYYYYMMDD>, Length: 2263, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
2258    0
2259    0
2260    0
2261    0
2262    0
Name: <TIME>, Length: 2263, dtype: int64
0         284.0
1         285.0
2         282.0
3         279.0
4         265.0
         ...
2258    23797.0
2259    23836.0
2260    23567.0
2261    22996.0
2262    23069.0
Name: <OPEN>, Length: 2263, dtype: float64
0         286.0
1         286.0
2         284.0
3         281.0
4         266.0
         ...
2258    24636.0
2259    24164.0
2260    23568.0
2261    23425.0
2262    23116.0
Name: <HIGH>, Length: 2263, dtype: float64
0         281.0
1         281.0
2         278.0
3         276.0
4         262.0
         ...
2258    23626.0
2259    23379.0
2260    22829.0
2261    22633.0
2262    23003.0
Name: <LOW>, Length: 2263, dtype: float64
0         285.0
1         283.0
2         279.0
3         280.0
4         263.0
         ...
2258    23836.0
2259    23562.0
2260    22995.0
2261    23070.0
2262    23085.0
Name: <CLOSE>, Length: 2263, dtype: float64
0           10
1            9
2           10
3           10
4            7
         ...
2258    131029
2259    116867
2260    137174
2261    142191
2262      3921
Name: <VOL>, Length: 2263, dtype: int64