In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
n_mat=np.random.rand(4,5)
n_mat

array([[0.7116083 , 0.19577629, 0.80563975, 0.60131613, 0.98054032],
       [0.5974955 , 0.00588864, 0.88175881, 0.05175978, 0.3753491 ],
       [0.68754246, 0.83038768, 0.58195741, 0.66216946, 0.56682858],
       [0.46711821, 0.34727012, 0.05923493, 0.76391397, 0.06396068]])

In [4]:
df=pd.DataFrame(n_mat)
df

          0         1         2         3         4
0  0.711608  0.195776  0.805640  0.601316  0.980540
1  0.597495  0.005889  0.881759  0.051760  0.375349
2  0.687542  0.830388  0.581957  0.662169  0.566829
3  0.467118  0.347270  0.059235  0.763914  0.063961

In [5]:
df[0]

0    0.711608
1    0.597495
2    0.687542
3    0.467118
Name: 0, dtype: float64

In [10]:
df.loc[0][:]

0    0.711608
1    0.195776
2    0.805640
3    0.601316
4    0.980540
Name: 0, dtype: float64

In [11]:
students_df=pd.read_csv('F:\my project\dataset\learning_dataset\\scores.csv')
students_df

     Python   Sql    ML  Tableau  Excel Student Placed
0      0.80  0.57  0.63     0.50   0.34            Yes
1      0.81  0.90  0.62     0.71   0.92             No
2      0.49  0.69  0.62     0.64   0.41             No
3      0.40  0.94  0.60     0.26   0.47             No
4      0.31  0.87  1.00     0.23   0.99             No
..      ...   ...   ...      ...    ...            ...
195    0.47  0.13  0.78     0.10   0.11            Yes
196    0.14  0.49  0.19     0.33   0.85            Yes
197    0.95  0.65  0.62     0.74   0.61            Yes
198    0.60  0.99  0.66     0.71   0.93            Yes
199    0.87  0.23  0.97     0.45   0.42            Yes

[200 rows x 6 columns]

In [18]:
students_df.loc[0]

Python             0.8
Sql               0.57
ML                0.63
Tableau            0.5
Excel             0.34
Student Placed     Yes
Name: 0, dtype: object