In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#!pip install openpyxl

In [7]:
cur_df=pd.read_excel('F:\my project\dataset\curr\monetary.xlsx')
cur_df.rename(index=cur_df.Index,inplace=True)
cur_df.drop('Index',axis=1,inplace=True)
cur_df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
IRN_gdp_n,3.180844e+11,3.353414e+11,3.555377e+11,3.733436e+11,4.075233e+11,4.694470e+11,5.143379e+11,5.723203e+11,6.532054e+11,7.380390e+11,...,1.063500e+16,1.225471e+16,1.210389e+16,1.440889e+16,1.673642e+16,2.150957e+16,2.736401e+16,4.079138e+16,6.677450e+16,NaN
"iran,M2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.823800e+06,1.017280e+07,1.253390e+07,1.529980e+07,1.882800e+07,2.470000e+07,3.476000e+07,4.832440e+07,6.548000e+07,NaN
IRN_inflation,9.822411e+00,3.162564e+00,7.213206e-01,3.718496e-01,3.814490e+00,2.154375e+00,-3.881485e-01,1.597610e+00,6.903605e-01,3.593195e+00,...,3.660304e+01,1.660655e+01,1.248468e+01,7.245425e+00,8.044924e+00,1.801412e+01,3.990735e+01,3.059414e+01,4.338902e+01,52.000000
gdp_rate,NaN,1.054253e+00,1.060226e+00,1.050082e+00,1.091550e+00,1.151951e+00,1.095625e+00,1.112732e+00,1.141328e+00,1.129873e+00,...,1.346939e+00,1.152300e+00,9.876931e-01,1.190435e+00,1.161534e+00,1.285195e+00,1.272179e+00,1.490694e+00,1.636976e+00,NaN
M2_rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.315466e+00,1.300238e+00,1.232099e+00,1.220674e+00,1.230604e+00,1.311876e+00,1.407287e+00,1.390230e+00,1.355009e+00,NaN
inf_acc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.264131e+02,6.138322e+02,6.904672e+02,7.404945e+02,8.000667e+02,9.441916e+02,1.320993e+03,1.725140e+03,2.473661e+03,3759.965178
Iran_constanat_gdp,1.629367e+15,1.798673e+15,1.940935e+15,2.077617e+15,2.253700e+15,2.637633e+15,2.941025e+15,3.271972e+15,3.743273e+15,4.324104e+15,...,1.279522e+16,1.343303e+16,1.324163e+16,1.440889e+16,1.480636e+16,1.447265e+16,1.408793e+16,1.455710e+16,1.524416e+16,NaN
gdp_growth,NaN,1.103909e+00,1.079093e+00,1.070421e+00,1.084752e+00,1.170357e+00,1.115024e+00,1.112528e+00,1.144042e+00,1.155167e+00,...,9.847802e-01,1.049848e+00,9.857512e-01,1.088151e+00,1.027585e+00,9.774614e-01,9.734179e-01,1.033303e+00,1.047198e+00,NaN
exc_inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.335797e+00,1.238501e+00,1.249909e+00,1.121787e+00,1.197569e+00,1.342126e+00,1.445718e+00,1.345424e+00,1.293938e+00,NaN
exc_inf_acc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.681398e+03,2.082413e+03,2.602827e+03,2.919818e+03,3.496684e+03,4.692989e+03,6.784737e+03,9.128346e+03,1.181151e+04,NaN
real/exc_acc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.130807e-01,2.947697e-01,2.652759e-01,2.536098e-01,2.288073e-01,2.011920e-01,1.947008e-01,1.889871e-01,2.094280e-01,NaN
real/exc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.022634e+00,9.415134e-01,8.999429e-01,9.560230e-01,9.022018e-01,8.793076e-01,9.677363e-01,9.706544e-01,1.108160e+00,NaN

In [9]:
curr_index_df=pd.DataFrame(cur_df.values.transpose(),index=cur_df.columns,columns=cur_df.index)
curr_index_df

,IRN_gdp_n,"iran,M2",IRN_inflation,gdp_rate,M2_rate,inf_acc,Iran_constanat_gdp,gdp_growth,exc_inf,exc_inf_acc,real/exc_acc,real/exc
1960,3.180844e+11,NaN,9.822411,NaN,NaN,NaN,1.629367e+15,NaN,NaN,NaN,NaN,NaN
1961,3.353414e+11,NaN,3.162564,1.054253,NaN,NaN,1.798673e+15,1.103909,NaN,NaN,NaN,NaN
1962,3.555377e+11,NaN,0.721321,1.060226,NaN,NaN,1.940935e+15,1.079093,NaN,NaN,NaN,NaN
1963,3.733436e+11,NaN,0.371850,1.050082,NaN,NaN,2.077617e+15,1.070421,NaN,NaN,NaN,NaN
1964,4.075233e+11,NaN,3.814490,1.091550,NaN,NaN,2.253700e+15,1.084752,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2018,2.150957e+16,24700000.0,18.014118,1.285195,1.311876,944.191630,1.447265e+16,0.977461,1.342126,4692.989075,0.201192,0.879308
2019,2.736401e+16,34760000.0,39.907346,1.272179,1.407287,1320.993446,1.408793e+16,0.973418,1.445718,6784.736955,0.194701,0.967736
2020,4.079138e+16,48324400.0,30.594139,1.490694,1.390230,1725.140018,1.455710e+16,1.033303,1.345424,9128.345631,0.188987,0.970654
2021,6.677450e+16,65480000.0,43.389016,1.636976,1.355009,2473.661301,1.524416e+16,1.047198,1.293938,11811.513865,0.209428,1.108160
2022,NaN,NaN,52.000000,NaN,NaN,3759.965178,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
curr_index_df.to_csv('F:\my project\dataset\curr\monetary2.csv')

In [14]:
index_df=pd.read_excel('F:\my project\dataset\curr\monetary2.xlsx')
index_df.rename(index=index_df['Unnamed: 0'],inplace=True)
index_df.drop('Unnamed: 0',axis=1,inplace=True)
index_df

,IRN_gdp_n,"iran,M2",IRN_inflation,gdp_rate,M2_rate,inf_acc,Iran_constanat_gdp,gdp_growth,exc_inf,exc_inf_acc,real/exc_acc,real/exc,usd/irr,gold_coin,stock_ind,hosing_prm,all_pr_ind,all_ind_rate,all_ind_acc,all/exc_inf_acc
1960,3.180844e+11,NaN,9.822411,NaN,NaN,NaN,1.629367e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
1961,3.353414e+11,NaN,3.162564,1.054253,NaN,NaN,1.798673e+15,1.103909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
1962,3.555377e+11,NaN,0.721321,1.060226,NaN,NaN,1.940935e+15,1.079093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
1963,3.733436e+11,NaN,0.371850,1.050082,NaN,NaN,2.077617e+15,1.070421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
1964,4.075233e+11,NaN,3.814490,1.091550,NaN,NaN,2.253700e+15,1.084752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,2.150957e+16,24700000.0,18.014118,1.285195,1.311876,944.191630,1.447265e+16,0.977461,1.342126,4692.989075,0.201192,0.879308,15067.0,3825000.0,171443.5,8200000.0,1.221245e+07,1.796010,9920.759295,0.473047
2019,2.736401e+16,34760000.0,39.907346,1.272179,1.407287,1320.993446,1.408793e+16,0.973418,1.445718,6784.736955,0.194701,0.967736,15757.0,5012000.0,395953.0,13000000.0,1.842503e+07,1.508708,14967.531270,0.453297
2020,4.079138e+16,48324400.0,30.594139,1.490694,1.390230,1725.140018,1.455710e+16,1.033303,1.345424,9128.345631,0.188987,0.970654,31050.0,10360000.0,1310691.5,25000000.0,3.670347e+07,1.992044,29815.976149,0.306156
2021,6.677450e+16,65480000.0,43.389016,1.636976,1.355009,2473.661301,1.524416e+16,1.047198,1.293938,11811.513865,0.209428,1.108160,26000.0,12150000.0,1346719.0,35000000.0,4.852519e+07,1.322087,39419.327913,0.299638
2022,NaN,NaN,52.000000,NaN,NaN,3759.965178,NaN,NaN,NaN,NaN,NaN,NaN,42000.0,19651000.0,1468000.0,46700000.0,6.786476e+07,1.398547,55129.780638,0.000000

In [31]:
a=[index_df['IRN_gdp_n'][i]/index_df['IRN_gdp_n'][i-1] for i in index_df.index[1:]]
a.insert(0,1)
a=pd.DataFrame(np.array(a).reshape(-1,1),index=index_df.index)
a

             0
1960  1.000000
1961  1.054253
1962  1.060226
1963  1.050082
1964  1.091550
...        ...
2018  1.285195
2019  1.272179
2020  1.490694
2021  1.636976
2022       NaN

[63 rows x 1 columns]

In [32]:
my_index_df=index_df['M2_rate']
my_index_df=pd.concat([my_index_df,a],axis=1)
my_index_df.rename(columns={0:'gdp_n_rate'},inplace=True)
my_index_df

       M2_rate  gdp_n_rate
1960       NaN    1.000000
1961       NaN    1.054253
1962       NaN    1.060226
1963       NaN    1.050082
1964       NaN    1.091550
...        ...         ...
2018  1.311876    1.285195
2019  1.407287    1.272179
2020  1.390230    1.490694
2021  1.355009    1.636976
2022       NaN         NaN

[63 rows x 2 columns]

In [33]:
my_index_df=pd.concat([my_index_df,1+index_df['IRN_inflation']/100],axis=1)
my_index_df

       M2_rate  gdp_n_rate  IRN_inflation
1960       NaN    1.000000       1.098224
1961       NaN    1.054253       1.031626
1962       NaN    1.060226       1.007213
1963       NaN    1.050082       1.003718
1964       NaN    1.091550       1.038145
...        ...         ...            ...
2018  1.311876    1.285195       1.180141
2019  1.407287    1.272179       1.399073
2020  1.390230    1.490694       1.305941
2021  1.355009    1.636976       1.433890
2022       NaN         NaN       1.520000

[63 rows x 3 columns]

In [34]:
a2=[index_df['usd/irr'][i]/index_df['usd/irr'][i-1] for i in index_df.index[1:]]
a2.insert(0,1)
a2=pd.DataFrame(np.array(a2).reshape(-1,1),index=index_df.index)
a2

             0
1960  1.000000
1961       NaN
1962       NaN
1963       NaN
1964       NaN
...        ...
2018  3.545176
2019  1.045795
2020  1.970553
2021  0.837359
2022  1.615385

[63 rows x 1 columns]